.table-header{
    font-weight: 400;
    color: #555555;
}

.table-content{
    margin-bottom: 0px;
    color: #555555;
    font-weight: 400;
    font-size: 15px;
}

.active-acc-header>a{
    color: #0091EA !important;
    font-weight: 400;
    border-bottom: 3px solid #0091EA;
    padding: 30px;
}

.container-border{
    border: 1px solid #e6e6e6;
    border-radius: 5px;
}


.table > thead > tr > th {
     vertical-align: middle !important;
}

.table{
    margin-bottom: 0px !important;
}

td.fund-name-content>p {
    padding-left: 18px;
}

th.fund-name-header>p {
    padding-left: 18px;
}


.table-container-header{
    font-size: 22px;
    font-weight: 400;
    color: #555555;
    margin: 5px 0px 0px 25px;
    padding: 15px 0px;
    margin-top: 0px;

}


#acc-statement-header-ul>li>a{
    font-size: 18px;
    margin: 10px 30px;
    color: #555555;
}

#acc-statement-header-ul>li>a:hover{
    color: #0091EA;
}


#acc-statement-header{
    border-bottom: 1px solid gainsboro;
    padding: 10px;
}

#acc-statement-header-ul{
    margin-top: 0px;
    margin-bottom: 20px;
}



#acct-info-statement{
    margin-bottom: 0px;
    margin-top: 5px;
    font-size: 16px;
    color: #555555;
}

#acct-info-container{
    padding: 10px 0px;
}

table>thead>tbody>tr{
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.p-tb-five{
    /*padding-top: 5px !important;
    padding-bottom: 5px !important;*/
    padding-top: 50px !important;
    height: 50px !important;
    vertical-align: middle !important;
} 

.table>tbody>tr>td{
	padding-top: 15px !important;
}




.table-row:hover{
    background-color: #f8f8f8;
    box-shadow: 0 5px 5px -5px #d7d7d7;
    transition: 0.4s;
}

.table-detail-info{
	margin-left: 20px;
	font-weight: 300;
	font-size: 18px;
}

.table-container-header span:first-child{
	
	padding-right: 20px;
	border-right: 2px solid #E6E6E6
}