#settings-sidebar{
	height: 240px;
}

#settings-nav{
	padding-left: 0px;
}

#settings-nav>li{
	list-style: none;
	text-align: center;
	padding-top: 18px;
	padding-bottom: 18px;
	font-size: 16px;
}

#settings-nav a {
	color: #555555;
	text-decoration: none;
}

.active-settings-nav > a{
	color: #0091EA !important;
}


.input-field{


  background-color: #ffffff;
  border: medium none;
  transition: background-color 0.3s ease 0s;
  padding: 7px 0px;
  height: 40px;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0px;
  width: 100%;
  border-bottom: 1px solid #BFBFBF;
  color: #555555;
  font-size: 14px;


}

.input-field:focus{

  background-color: #FFFFFF;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: 0 !important;
  border-color: #0091EA;
  transition: 0.3s;

}


label.input-label{
	position: absolute;
	top: 10px;
	left: 15px;
	margin-bottom: -10px !important;
	color: gray;
	font-weight: 400;
	transition: 0.25s ease all;
	-moz-transition : 0.25s ease all;
	-webkit-transition : 0.25s ease all;
	pointer-events: none;
}

input:focus ~ label.input-label , input:valid ~ label.input-label{
	top: -12px;
	font-size: 11px;
	
	color: #0091EA;
}


input:focus{
	border-color: none;
	box-shadow: none;
	outline: none;
}


#submit-personal{
	margin-left: 30px;
}

#bank-details-info{
	padding-left: 30px;
	margin-top: 5px;
}

#add-nominee-btn{
	border-radius: 5px;
	background-color: #F3F3F3;
	margin-right: 20px;
	color: #555555;
}

#change-password-tab,#bank-details-tab,#nominee-details-tab,#bank-details-info,#add-nominee-btn{
	display: none;
}


.inactive-sidemenu{
	font-weight: 300;
    color: #333333;
}


.activate-acc-menu{
	text-align: left !important;
}

.activate-tick{
	font-size: 12px !important; 
	border-radius: 50px;
	background-color: #04D298;
	padding: 4px;
	margin: 0px 15px;
	color: white !important;
}

.non-active-tick{
	font-size: 12px !important; 
	border-radius: 50px;
	padding: 4px;
	margin: 0px 15px;
	color: white !important;
	background-color: #E1E1E1;
}

#kyc-info-text{
	margin-left: 20px;
	font-size: 14px;
	margin-left: 55px;
	margin-top: 10px;
	font-weight: 400;
}

select{
    border: none;
    font-weight: 400;
    background-image: url(../img/arrow_down_32.png);
    background-repeat: no-repeat;
    background-position: right;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid #BFBFBF;
    color: #555555;
}

.radio-label{
	margin-bottom: 0px;
}

.radio-label>span{
	background-color: #F7F7F7;
	width: 80px;
	color: #0091EA;
	padding: 8px 5px;
	text-align: center;
	font-weight: 500;
}

input[type=radio]{
	display: none;
}

.radio-inline{
	padding-left: 0px !important;

}

.checkbox-inline+.checkbox-inline, .radio-inline+.radio-inline {
    margin-top: 0;
    margin-left: -5px !important;
}

.form-helper{
	margin-bottom: 0px;
}

.mini-text{
	margin-bottom: 0px;
	font-size: 10px;
	color: #333333;
}