@media(min-width: 1800px){

}

@media(min-width: 1600px){

}

@media(min-width: 1400px) {

}


@media(min-width: 992px) and (max-width: 1200px){

}

@media(min-width: 768px) and (max-width: 992px){
	#sidebar-container{
		padding-right: 15px;
	}

	#settings-nav>li{
		font-size: 14px;
	}

	.radio-label>span {
	    width: 60px;
	    font-size: 13px;
	}

	#submit-personal{
		width: 100px;
	}
}

@media(min-width: 500px) and (max-width: 767px){
	#sidebar-container{
		padding-right: 0px;
		margin-bottom: 15px;
	}

	.input-field{
		width: 90%;
		margin-bottom: 15px;
	}

	select{
		width: 90%;
	}

	#footer-section{
		text-align: center;
	}

	#sidebar-left{
		padding-right: 0px;
		margin-bottom: 20px;
	}
}

@media(min-width: 350px) and (max-width: 500px){
	#sidebar-container{
		padding-right: 0px;
		margin-bottom: 15px;
	}

	.input-field{
		width: 90%;
		margin-bottom: 15px;
	}

	select{
		width: 90%;
	}

	#footer-section{
		text-align: center;
	}

	#sidebar-left{
		padding-right: 0px;
		margin-bottom: 20px;
	}
}

@media(min-width: 300px) and (max-width: 350px){
	#sidebar-container{
		padding-right: 0px;
		margin-bottom: 15px;
	}

	#sidebar-left{
		padding-right: 0px;
		margin-bottom: 20px;
	}

	.input-field{
		width: 90%;
		margin-bottom: 15px;
	}

	select{
		width: 90%;
	}

	#footer-section{
		text-align: center;
	}
}