#blog1{
  height: 60vh;
  background-image: url(../img/pexels-photo.jpg);
  background-position: center;
  background-size: cover;
  margin-top: 0px;
}

#next-article{
  height: 45vh;
  background-image: url(../img/piggy-bank.jpg);
  background-position: center;
  background-size: cover;
  margin-top: 0px;
  margin-bottom: 0px;
}


.navbar-custom{
  background-color: transparent !important;
}

.custom-container{
  width: 800px !important;
  font-family: 'Roboto Slab', serif;
}

.blog-header{
    font-size: 40px;
    padding-right: 50%;
    line-height: 50px;
        margin: 50px auto;
}

.content-text{
  font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #333333;
}

#footer-section{
  margin-top: 0px;
}

#next-art-div{
  color: white !important;
  margin: 50px auto; 
}

.next-art-name{
  color: white;
  padding-right: 0%;
  font-size: 40px;
  line-height: 50px;
}

.blog-sub-headers{
      font-size: 22px;
    color: #333333;
    font-weight: 500;
    margin: 20px auto;
}


.right-arrow{
  font-size: 46px !important;
  float: right;
  margin-top: 50%;
}