#contact-us{
	margin-top: 120px;
	margin-bottom: 50px;
}

#header{
	margin: 30px;
	color: #555555;
}

.contact-info{
	font-size: 18px;
	color: #555555;
	font-weight: 500;
	margin-left: 5px;
}

.contact-inner-info{
	font-size: 14px;
	margin-left: 60px;
	margin-top: -15px;
	color: #555555;
}


.input-field{
	width: 90% !important;
}


.input-field:focus{

  background-color: #FFFFFF;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: 0 !important;
  border-color: #0091EA;
  transition: 0.3s;

}


label{
	position: absolute;
	top: 10px;
	left: 15px;
	margin-bottom: -10px !important;
	color: gray;
	font-weight: 400;
	transition: 0.25s ease all;
	-moz-transition : 0.25s ease all;
	-webkit-transition : 0.25s ease all;
	pointer-events: none;
}

input:focus ~ label , input:valid ~ label , input:disabled ~ label {
	top: -8px;
	font-size: 11px;
	
	color: #0091EA;
}

input:focus{
	border-color: none;
	box-shadow: none;
	outline: none;
}


#message{
	width: 96.8% !important;
}

#message-cont{
	margin-top: 30px;
}


#submit-contact{
	width: 100px;
	border-radius: 4px;
	margin: 25px 15px;
}



/*Below is for privacy policy*/
	
	#privacy-policy{
    font-size: 24px;
	color: #555555;
	font-weight: 500;
	margin-bottom: 30px;
	}

	.privacy-content{
		    color: #333333;
    line-height: 26px;
    font-size: 16px;
    margin-bottom: 30px;

	}

	.side-header{
		font-size: 16px;
		color: #555555;
		font-weight: 500;
		margin-top: 40px;
	}

	.sub-header{
		font-size: 18px !important;
		font-weight: 500;
		margin-top: 20px;
		color: #555555;
	}



	#founder-pic{
		height: 50px;
		margin-right: 15px;
	}

	#founder-mail{
		font-size: 16px;
		font-weight: 500;
	}

/*Privacy policy ends*/