#ekyc-header{
	font-size: 24px;
	color: #555555;
	font-weight: 500;
	margin-bottom: 0px;
}

.ekyc-sub-header{
	font-size: 16px;
	color: #555555;
	margin-bottom: 0px;
}

#header-container{
	margin: 20px auto;
}

.card-holder img{
	margin-bottom: 30px;
	height: 50px;
}

.card-holder{
	width: 210px;
	padding: 20px;
	border :1px solid #E6E6E6;
	border-radius: 4px;
	display: inline-block;
	margin: 20px;

}


.card-header{
	font-size: 20px;
    color: #555555;
    font-weight: 500;
}

.card-info{
	margin-bottom: 25px;
    line-height: 1.2;
}

#card-container{
	text-align: center;
	margin-bottom: 100px;
}

#sample-video{
	font-size: 16px;
	color: #0091EA;
	margin-bottom: 30px;
}

.videocam{
	background-image: url('../img/videocam.png');
}

#sample-video ~ a{
	font-size: 16px;
	width: 150px;
	font-weight: 500;
}

#sample-video ~ a>i{
	vertical-align: middle;
	margin-left: 5px !important;
}

#back{
	margin: 10px auto;
}

#back span{
	color: #555555;
	font-size: 16px;
	font-weight: 500;
}

#back i {
	vertical-align: middle;
	font-size: 34px !important;
	font-weight: 500;
	color: #555555 !important;
}

.material-icons:hover{
	background-color: transparent !important;
}



