#faq{
	margin-top: 120px;
}

.panel-heading{
	background-color: white !important;
	background-image: none !important;
	border:none!important;
	border-bottom: none !important;
	border-color: transparent;
}


.panel{
	margin-bottom: 20px !important;
}

.faq-container{
	border: 1px solid gainsboro;
    border-radius: 7px;
    padding: 15px 20px;
    margin-bottom: 20px;
}

.faq-exp{
	font-size: 18px;
    color: #333333;
    letter-spacing: 0.03rem;
    line-height: 28px;
}

.faq-heading{
	display: inline-block;
	margin-bottom: 15px;
}

.material-icons:hover{
	background-color: white !important;
}

.arrow-icon{
	font-size: 28px !important;
}

