#footer-section{
	color: #999999;
}

.footer-links{
	font-size: 12px;
	margin: 0px 10px 0px 0px;
}

#mf-disclaimer{
    font-size: 12px;
    line-height: 15px
}

.footer-info{
    font-size: 12px;
}

.footer-links>a{
    color: #999999;
}

.footer-links>a:hover{
    color: #999999 !important;
}