@media(min-width: 1800px){

}

@media(min-width: 1600px){

}

@media(min-width: 1400px) {

}


@media(min-width: 992px) and (max-width: 1200px){

}

@media(min-width: 768px) and (max-width: 992px){
	#left-fund-container{
		padding-left: 40px;
	}

	.inv-type-text{
		font-size: 15px;
	}

	#sche-sel-date, #month-start-date, #month-end-date, #one-sel-date, #sip-date{
		width: 45%;
	}

	#portfolio-text{
		font-size: 14px;
	}

	.fund-heading{
		font-size: 16px;
	}

	.total-text{
		font-size: 18px;
	}

	.inv-scheme-name, .inv-scheme-amount{
		font-size: 16px;
	}

	.inner-header{
		font-size: 16px;
	}

	.detail-header{
		font-size: 14px;
	}

	.detail-content{
		font-size: 14px;
	}

	.scheme-nav, .scheme-change, .scheme-perc{
		font-size: 18px;
	}

	#invest-btn{
		height: 36px;
	    font-size: 14px;
	    width: 115px;
	}
}

@media(min-width: 500px) and (max-width: 767px){
	#left-fund-container{
		padding: 0px;
	    text-align: left;
	    margin-left: 40px;
	}

	#left-fund-container>div{
		border-right: none;
		margin-bottom: 30px;

	}

	#inv-amount ~ label{
		left: 0px;
	}

	.inv-type-text{
		text-align: left;
	}

	#section-container{
		padding: 30px;
	}

	.total-text{
		font-size: 16px;
	}

	#footer-section{
		text-align: center;
	}

	#sche-sel-date, #month-start-date, #month-end-date, #one-sel-date, #sip-date{
		width: 30%;
	}

	.inv-scheme-name, .inv-scheme-amount {
    	font-size: 16px;	
	}

	.inner-header{
		font-size: 14px;
	}

	.detail-header{
		font-size: 12px;
	}

	.detail-content{
		font-size: 12px;
	}

	.scheme-nav, .scheme-change, .scheme-perc{
		font-size: 16px;
	}

	#invest-btn{
		height: 36px;
	    font-size: 14px;
	    width: 115px;
	}

	.graph-duration{
		font-size: 14px;
	}

	.return-content{
		font-size: 18px;
	}

	.custom-amount{
		width: 70%;
		font-size: 14px;
	}
}

@media(min-width: 350px) and (max-width: 500px){

	.inv-type-text{
		font-size: 15px;
		margin-left: 10px;
	}

	#left-fund-container{
		padding: 0px;
	    text-align: left;
	    margin-left: 40px;
	}

	#left-fund-container>div{
		border-right: none;
		margin-bottom: 30px;

	}

	#inv-amount ~ label{
		left: 0px;
	}

	.inv-type-text{
		text-align: left;
	}

	#section-container{
		padding: 30px;
	}

	.total-text{
		font-size: 16px;
	}

	#footer-section{
		text-align: center;
	}

	#sche-sel-date, #month-start-date, #month-end-date, #one-sel-date, #sip-date{
		width: 45%;
		margin-left: 10px;
	}

	.inv-scheme-name, .inv-scheme-amount {
    	font-size: 16px;	
	}

	.inner-header{
		font-size: 14px;
	}

	.detail-header{
		font-size: 12px;
	}

	.detail-content{
		font-size: 12px;
	}

	.scheme-nav, .scheme-change, .scheme-perc{
		font-size: 16px;
	}

	#invest-btn{
		height: 36px;
	    font-size: 14px;
	    width: 115px;
	}

	.graph-duration{
		font-size: 12px;
	}

	.return-content{
		font-size: 14px;
	}

	#portfolio-text{
		font-size: 14px;
	}

	.scheme-details-container >div{
		padding: 10px;
	}

	.fund-heading{
		font-size: 14px;
	}

	.custom-amount{
		width: 100%;
		font-size: 14px;
	}

	.inv-scheme-amount > span{
		text-align: center;
		display: block;
	}
}

@media(min-width: 300px) and (max-width: 350px){
		.inv-type-text{
		font-size: 15px;
		margin-left: 10px;
	}

	#left-fund-container{
		padding: 0px;
	    text-align: left;
	    margin-left: 40px;
	}

	#left-fund-container>div{
		border-right: none;
		margin-bottom: 30px;

	}

	#inv-amount ~ label{
		left: 0px;
	}

	.inv-type-text{
		text-align: left;
	}

	#section-container{
		padding: 30px;
	}

	.total-text{
		font-size: 16px;
	}

	#footer-section{
		text-align: center;
	}

	#sche-sel-date, #month-start-date, #month-end-date, #one-sel-date, #sip-date{
		width: 45%;
		margin-left: 10px;
	}

	.inv-scheme-name, .inv-scheme-amount {
    	font-size: 16px;	
	}

	.inner-header{
		font-size: 14px;
	}

	.detail-header{
		font-size: 12px;
	}

	.detail-content{
		font-size: 12px;
	}

	.scheme-nav, .scheme-change, .scheme-perc{
		font-size: 16px;
	}

	#invest-btn{
		height: 36px;
	    font-size: 14px;
	    width: 115px;
	}

	.graph-duration{
		font-size: 12px;
	}

	.return-content{
		font-size: 14px;
	}

	#portfolio-text{
		font-size: 14px;
	}

	.scheme-details-container >div{
		padding: 10px;
	}

	.fund-heading{
		font-size: 14px;
	}

	.custom-amount{
		width: 100%;
		font-size: 14px;
	}

	.inv-scheme-amount > span{
		text-align: center;
		display: block;
	}
}