


input:focus{
	border-color: none;
	box-shadow: none;
	outline: none;
}


#investment-amount{
	width: 70%;
	font-size: 18px !important;
	/*padding : 10px 15px;*/
}

.w-20 {
    width: 20%;
    float: left;
}

#investment-amount ~ label{
	position: absolute;
	top: 10px;
	left: 0px;
	margin-bottom: -10px !important;
	color: gray;
	font-weight: 400;
	transition: 0.25s ease all;
	-moz-transition : 0.25s ease all;
	-webkit-transition : 0.25s ease all;
	pointer-events: none;
	font-size: 16px;
}

#investment-amount:focus ~ label , #investment-amount:valid ~ label {
	top: -12px;
	font-size: 11px;
	
	color: #0091EA;
}


select{
	width: 70%;
	font-size: 16px;
	margin-top : 40px;
	padding: 0px;
	padding-bottom: 5px;
	margin-bottom: 20px;
}

select option{
	font-size: 20px;
}

select option>p{
	border-bottom: 1px solid #E6E6E6;
}

#left-fund-container{
	padding-left: 120px;
}

#minimum-text{
	margin-top: 5px;
}

input[type=radio]{
	display: none;
}

input[type=radio] ~ label{
	color: #777 !important;
	margin: 0px 10px 0px 0px;

}

.form-group p:first-child{
	margin-bottom: 0px;
}


.inv-type-text{
	font-size: 18px;
	color: #555555;
}

.investment-date{
	font-size: 14px;
}

#section-container{
	    padding: 50px;
}

#portfolio-header{
	font-size: 22px;
	color: #555555;
	/* font-weight: 500; */
	margin-bottom: 5px;

}

#portfolio-text{
	font-size: 14px;
	color: #888888;
}

.inv-scheme-name,.inv-scheme-amount{
	font-size: 20px;
	color: #555555;
}

.scheme-container,.total-container{
	padding: 15px 20px;
	transition: .1s;
}

.card-selected{
	cursor: pointer;
	transform: scale(1.009);
	background-color: white;
	border : 1px solid #E6E6E6;
}

.scheme-container:hover{
	cursor: pointer;
	/*transform: scale(1.009);*/
	/*background-color: white;*/
	/*border : 1px solid #E6E6E6;*/
	/*border-left: 3px solid #0091EA;*/
}

.inner-header{
	font-size: 18px;
	color: #555555;
	margin-top: 15px;
}

.detail-header{
	font-size: 16px;
	font-weight: 500;
	color: #555555;
}

.detail-content{
	 font-size: 16px;
    color: #555555;
}

.scheme-nav{
	margin: 0px 10px;
}

.scheme-nav,.scheme-change,.scheme-perc{
	font-size: 22px;
	color: #555555;
	margin-top: 10px;
}

.nav-det-container{
	margin: 20px 0px;
}


.duration-header{

}

.graph-duration{
	font-size: 16px;
    color: #555555;
    margin-bottom: 0px;
    padding-bottom: 10px;
    margin-top: 10px;
}


.graph-duration:hover{
	cursor: pointer;
}

.return-content{
	font-size: 24px;
}

.active-duration {
    color: #0091EA;
    border-bottom: 3px solid #0091EA;
}

.scheme-details-container{
	display: none;
}

.total-text{
	font-size: 20px;
	color: #0091EA;
}

#invest-btn{
	height: 40px;
	font-size: 16px;
}

.border-blue-left{
	border-left: 3px solid #0091EA;
}
/*.scheme-change{
	font-size: 22px;
}

.scheme-perc{
	font-size: 22px;
	color: #555555;
}*/

.box-shadow-no-top {
    box-shadow: 0px 5px 15px rgba(210, 210, 210, 0.6);
}

.inv-scheme-amount p span:first-child,span:nth-child(2){
	display: inline-block;
}

.input-field{
	font-size: 20px !important;
}

.custom-amount {
    background-color: transparent;
    border: medium none;
    transition: background-color 0.3s ease 0s;
    padding: 0px 0px;
    height: 40px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0px;
    width: 80%;
    border-bottom: 1px solid #BFBFBF;
    color: #555555;
    font-size: 20px !important;
    margin-left: 10px;
 }


.modal-dialog{
 	width: 350px !important;
 }

.modal-body h4{
	padding: 30px 0px 0px;
	color: #555;
	margin-bottom: 20px;
}

input[type=radio] ~label .material-icons{
	vertical-align: middle !important;
}

.chooseBankModal .material-icons{
	vertical-align: middle;
}

.account-holder{
    padding: 10px;
    margin: 10px auto;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
	min-height: 85px;
}

.modal-body {
    padding: 0px 20px !important;
}

.bank-name{
	color: #333;
	font-size: 16px;
	margin-bottom: 0px;
}

.bank-acc-no{
	margin-bottom: 0px;
}

#submit-bank{
	margin: 20px 0px;
	width: 100px;
}

.popup-btn{
	background-color: #04D298 !important;
    width: 200px;
    border-color: #04D298 !important;
    margin: 10px auto;
    font-size: 14px;
    text-shadow: none;
    margin-top: 15px;
}

.popup-btn:hover{
	background-image: none !important;
	background-color: #0091ea !important;
}

#showPaymentInfo .modal-dialog, #rtgsInfoModal .modal-dialog{
	width: 600px !important;
}

.payment-table>thead>tr>th:nth-child(3){
    width: 160px;
}
.payment-table>thead>tr>th:nth-child(4){
    width: 120px;
}

.payment-table>tbody>tr:last-child{
    border-bottom: 1px solid gainsboro;
}

#showPaymentInfo .modal-body{
    padding: 0px !important;
    padding-bottom: 10px !important;   
}

#showPaymentInfo .modal-dialog .popup-btn{
	border-color: #0091EA !important;
	background-color: #0091EA !important;
	width: 100px;
}

#showPaymentInfo .modal-body .table>thead:first-child>tr:first-child>th{
    padding-left: 20px;
}

#showPaymentInfo .modal-body .table>tbody>tr>td {
    padding: 15px 20px !important;
}

#showPaymentInfo .modal-body p{
    margin-bottom: 0px;
}


#showInfo .general-info, #utrModal .general-info, #rtgsInfoModal .general-info{
	font-size: 16px;
	margin: 15px;
	color: #555;
}

#showInfo .popup-btn{
	width: 100px !important;
	background-color: #0091EA !important;
	border-color: #0091EA !important;
}

#showInfo .modal-body, #rtgsInfoModal .modal-body{
	padding-bottom: 10px !important;
}

#mandate-btn{
	white-space: normal;
}

.alert-low-amount{
	font-size: 14px;
    color: red;
    margin-top: 10px;
    text-align: center;
    display: none;
}

#utrModal .modal-body{
	padding-bottom: 10px !important;
}

#utr-no{
	background-color: transparent;
    border: medium none;
    transition: background-color 0.3s ease 0s;
    padding: 0px 0px;
    height: 40px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0px;
    width: 70%;
    border-bottom: 1px solid #BFBFBF;
    color: #555555;
    font-size: 16px !important;
}

#utr-no ~span{
	    text-align: center;
    display: inherit;
    margin-top: 5px;
    color: red;
    margin-bottom: 5px;
}

#confirm-utr, #go-home{
	width: 100px !important;
}

.scheme-header{
	padding-top: 15px;
	padding-bottom: 15px;
}

#chooseBankModal .modal-dialog{
	width: 600px !important;
}

#submit-btn-holder{
	/*text-align: left;*/
}





