@media(min-width: 1800px){

}

@media(min-width: 1600px){

}

@media(min-width: 1400px) {

}


@media(min-width: 992px) and (max-width: 1200px){

	.navbar-nav>li>a {
		font-size: 14px !important;
		padding-top : 20px !important;
	}

	.nav-user-name,.nav-user-details{
		display: none;
	}

	.xirr-radio-div span,.abs-radio-div span{
		width: 50px;
	}

	#nav-invest-btn{
		width: 120px;
	}

	#goal-chart {
	    margin-left: 0px;
	    height: 180px;
	}

	#goal-perc{
		top: 34%;
    	left: 34%;
    	font-size: 26px;
	}

	#add-inv-card p{
		font-size: 20px;
	}

	.portfolio-split,.portfolio-returns{
		font-size: 26px;
	}

	.portfolio-details-holder{
		padding: 0px 10px !important;
	}

	.portfolio-amount-value {
    	font-size: 18px;
    }

    #port-comp-container{
    	padding: 20px 0px;
    }
}

@media(min-width: 768px) and (max-width: 992px){

	.navbar-nav>li>a {
		font-size: 14px !important;
		padding-top : 20px !important;
		padding: 20px 5px !important
	}

	.nav-user-name,.nav-user-details{
		display: none;
	}

	.xirr-radio-div span,.abs-radio-div span{
		width: 50px;
	}

	.section-header{
		font-size: 16px;
	}

	.cont-header{
		font-size: 14px;
	}

	.inv-sum-amount{
		font-size: 20px;
	}

	.sub-cont-amount{
		font-size: 20px;
	}

	.imp-content{
		font-size: 14px;
	}

	#nav-invest-btn{
		width: 100px;
    	font-size: 13px;
	}

	#goal-chart {
	    margin-left: 0px;
	    height: 170px;
	}

	#goal-perc{
		top: 32%;
	    left: 37%;
	    font-size: 24px;
	}

	.inner-number-value{
		font-size: 18px;
	}

	.benchmark-holder{
		padding-top: 10px !important;
	}

	a#invest-btn{
		width: 110px;
		padding: 10px 0px;
	}

	#one-day-bse {
	    display: block;
	    text-align: left;
	    margin-left: 23px;
	}

	#add-inv-card p{
		font-size: 18px;
    	padding: 35px;
	}

	.portfolio-split,.portfolio-returns{
		font-size: 22px;
    	margin-top: 5px;

	}

	.portfolio-comp-container{
		padding : 0px;
	}

	.portfolio-details-holder{
		padding: 0px 10px !important;
	}

	.portfolio-amount-value {
    	font-size: 16px;
    }

    #port-comp-container{
    	padding: 20px 0px;
    }

    .section-header-info{
    	font-size: 10px;
    }

    .nav-logo{
    	height: 20px;
    }



}

@media(min-width: 500px) and (max-width: 767px){

	#inv-summary-header{
 		padding: 20px 0px 10px;
	}

	#goal-header{

	}

	.cont-header{
		font-size: 15px;
	}

	.inv-details-container{
		margin-bottom: 15px;
	}

	#returns-holder{
		margin-top: 0px;
	}

	#returns-text-holder{
		margin-top: -10px;
	}

	.benchmark-holder{
		padding-top: 10px;
	}

	#one-day-bse {
	    display: block;
	    text-align: left;
	    margin-left: 57px;
	}

	#add-inv-card{
		height: 120px;
		margin-top: 15px;
	}

	#add-inv-card p {
	    padding: 10px;
	    padding-bottom: 0px;
	    padding-top: 25px;
	    font-size: 18px;
	}

	a#invest-btn{
		width: 130px;
		padding: 8px 0px;
	}

	#key-benchmark{
		padding-right: 0px;
	}

	.portfolio-comp-container{
		margin: 20px 0px;
	}

	.portfolio-split,.portfolio-returns{
		font-size: 24px;
    	margin-top: 5px;

	}

	.border-xs-right{
		border-right: 1px solid #e6e6e6;
	}

	.xs-hr{
		height: 1px;
		background-color: #e6e6e6;
	}

		#goal-chart {
	    margin-left: 0px;
	    height: 170px;
	}

	#goal-perc{
		top: 32%;
	    left: 37%;
	    font-size: 24px;
	}

	.sub-cont-amount{
		margin-bottom: 0px;
	}

	.container-card{
		height: 300px;
	}

	.benchmark-holder .pl-30{
		padding-left: 10px;
	}

	.benchmark-holder .pr-30{
		padding-right: 10px;
	}

	.inner-number-value{
		font-size: 16px;
	}

	#one-day-bse {
	    display: block;
	    text-align: left;
	    margin-left: 4px;
	}

	.text-right {
	    text-align: left;
	    margin-left: 22px;
	}

	.padding-xs-zero{
		padding: 0px;
	}

	.portfolio-amount-value{
		font-size: 18px;
	}

	.imp-content{

		font-size: 14px;
	}

	.sub-cont-header{
		margin-bottom: 0px;
	}


	.fund-info-container{
		width: 50%;
		float: left;
		margin: 10px auto;
	}

	.fund-name{
		font-size: 20px;
	}

	.inv-summary{
		height: auto;
	}

}

@media(min-width: 350px) and (max-width: 500px){
	#inv-summary-header{
 		padding: 10px 0px 10px;
	}

	#inv-summary-header div:nth-child(2){
		padding : 0px;
	}

	#goal-header{

	}

	.cont-header{
		font-size: 18px;
	}

	.inv-sum-amount {
	    font-size: 18px;
	    font-weight: 500;
	}

	.inv-summary{
		height: auto;
	}

	.inv-details-container{
		margin-bottom: 15px;
	}

	#returns-holder{
		margin-top: 0px;
	}

	#returns-text-holder{
		margin-top: -10px;
	}

	.benchmark-holder{
		padding-top: 10px;
	}

	#one-day-bse {
	    display: block;
	    text-align: left;
	    margin-left: 57px;
	}

	#add-inv-card{
		height: 120px;
		margin-top: 15px;
	}

	#add-inv-card p {
	    padding: 10px;
    	padding-bottom: 0px;
    	padding-top: 15px;
    	font-size: 16px;
	}

	a#invest-btn{
		width: 115px;
		padding: 8px 0px;
	}

	#key-benchmark{
		padding-right: 0px;
		padding-left: 0px;
		margin-top: 10px;
	}

	.portfolio-comp-container{
		margin: 20px 0px;
		width: 100%;
		text-align: center;
		border-bottom: 1px solid #e6e6e6;
	}

	.portfolio-split,.portfolio-returns{
		font-size: 24px;
    	margin-top: 5px;

	}

	.border-xs-right{
		border-right: none;
	}

	.xs-hr{
		height: 1px;
		background-color: transparent;
	}

		#goal-chart {
	    margin-left: 0px;
	    height: 180px;
	}

	#goal-perc{
		top: 34%;
	    left: 35%;
	    font-size: 24px;
	}

	.sub-cont-amount{
		margin-bottom: 0px;
	}

	.container-card{
		height: 250px;
	}

	.benchmark-holder .pl-30{
		padding-left: 20px;
	}

	.benchmark-holder .pr-30{
		padding-right: 20px;
	}

	.inner-number-value{
		font-size: 16px;
	}

	#one-day-bse {
	    display: block;
	    text-align: left;
	    margin-left: 4px;
	}

	.text-right {
	    text-align: left;
	    margin-left: 22px;
	}

	.padding-xs-zero{
		padding: 0px;
	}

	.portfolio-amount-value{
		font-size: 20px;
	}

	.imp-content{

		font-size: 16px;
	}

	.sub-cont-header{
		margin-bottom: 0px;
	}

	#goal-div,#key-benchmark{
		width: 100%;
	}

	#footer-section{
		text-align: center;
	}

	.section-header-info{
		margin-top: 0px;
	}

	.fund-info-container{
		width: 50%;
		float: left;
		margin: 10px auto;
	}

	.fund-name{
		font-size: 20px;
	}
}

@media(min-width: 300px) and (max-width: 350px){

	.section-header{
		padding-left: 20px;
	}

	#inv-summary-header{
 		padding: 10px 0px 10px;
	}



	#inv-summary-header div:nth-child(2){
		padding : 0px;
	}

	#goal-header{

	}

	.fund-info-container{
		width: 50%;
		float: left;
		margin: 10px auto;
	}

	.fund-name{
		font-size: 18px;
	}

	.inv-summary{
		height: auto;
	}

	.cont-header{
		font-size: 12px;
	}

	.inv-sum-amount{
		font-size: 16px;
	}

	.inv-details-container{
		margin-bottom: 15px;
	}

	#returns-holder{
		margin-top: 0px;
	}

	#returns-text-holder{
		margin-top: -10px;
	}

	.benchmark-holder{
		padding-top: 10px;
	}

	#one-day-bse {
	    display: block;
	    text-align: left;
	    margin-left: 57px;
	}

	#add-inv-card{
		height: 120px;
		margin-top: 15px;
	}

	#add-inv-card p {
	    padding: 10px;
    	padding-bottom: 0px;
    	padding-top: 15px;
    	font-size: 16px;
	}

	a#invest-btn{
		width: 115px;
		padding: 8px 0px;
	}

	#key-benchmark{
		padding-right: 0px;
		padding-left: 0px;
		margin-top: 10px;
	}

	.portfolio-comp-container{
		margin: 20px 0px;
		width: 100%;
		text-align: center;
		border-bottom: 1px solid #e6e6e6;
	}

	.portfolio-split,.portfolio-returns{
		font-size: 24px;
    	margin-top: 5px;

	}

	.border-xs-right{
		border-right: none;
	}

	.xs-hr{
		height: 1px;
		background-color: transparent;
	}

		#goal-chart {
	    margin-left: 0px;
	    height: 180px;
	}

	#goal-perc{
		top: 34%;
	    left: 40%;
	    font-size: 24px;
	}

	.sub-cont-amount{
		margin-bottom: 0px;
		font-size: 18px;
	}

	.container-card{
		height: 250px;
	}

	.benchmark-holder .pl-30{
		padding-left: 20px;
	}

	.benchmark-holder .pr-30{
		padding-right: 20px;
	}

	.inner-number-value{
		font-size: 16px;
	}

	#one-day-bse {
	    display: block;
	    text-align: left;
	    margin-left: 4px;
	}

	.text-right {
	    text-align: left;
	    margin-left: 22px;
	}

	.padding-xs-zero{
		padding: 0px;
	}

	.portfolio-amount-value{
		font-size: 20px;
	}

	.imp-content{

		font-size: 14px;
	}

	.sub-cont-header{
		margin-bottom: 0px;
	}

	#goal-div,#key-benchmark{
		width: 100%;
	}

	#footer-section{
		text-align: center;
	}

	.navbar-brand {
		padding-top: 10px !important;
	}

	.cont-header {
	    font-size: 15px;
	    font-weight: 500;
	}
}