.inv-sum-amount{
	font-size: 20px;
    color: #555555;
    margin-bottom: 0px;
}

.container-card{
	   /* border: 1px solid #E6E6E6;*/
	    height: 260px;
	    box-shadow: 0px 0px 4px rgba(210, 210, 210, 0.6);
}

.imp-content{
	font-size: 16px;
    color: #555555;
    font-weight: 400;
}

#submit-documents{
	height: 40px;
    font-size: 16px;
    width: 150px;
}


#inv-sum-content-div{
	padding: 20px 15px;
}


a#invest-btn{
	background-color: white;
	font-size: 14px;
	text-align: center;
	width: 125px;
	padding: 12px 0px;
	font-weight: 500;
	color: #0091EA;
	border-radius: 5px;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

a#invest-btn:hover{
	cursor: pointer;
}


.sub-cont-amount{
	font-size: 22px;
    color: #555555;
}


.inner-number-value{
	font-size: 20px;
	color: #555555;
}


.portfolio-split{
	font-size: 30px;
	color: #555555;
}

.portfolio-returns{
	font-size: 30px;
}

.portfolio-amount-info{

}

.portfolio-amount-value{
	font-size: 22px;
	color: #555555;
}

.portfolio-details-holder{
	padding-bottom: 15px;
}

.portfolio-details-container{

}


.xs-hr{
	display: none;
}

.navbar-default .navbar-toggle{
	border: none;
}

.portfolio-big-cont{
	border-right: 1px solid #e6e6e6;
}

.portfolio-comp-container{
	margin: 20px auto;
}


/*Liquid*/


.inv-summary,#withdraw-box		{
	height: 200px;
}

#home-withdraw{
	width: 130px !important;
	margin-left: 15px;
	margin-top: 10px;
}

#withdraw-info{
	font-size: 18px;
	color: white;
	/* padding-left: 15px; */
	margin-top: 10px;
	padding: 20px;
	line-height: 1.67;
}


.fund-info-container{
	width: 20%;
	float: left;
	display: inline-block;
}

.fund-info-heading{
	    color: #555555;
    font-size: 15px;
    margin-bottom: 5px;
}

.fund-name{
	font-size: 20px;
    color: #555555;
    font-weight: 400;
}

.fund-info-detail{
	color: #555555;
    font-size: 20px;
}

.fund-container{
	margin: 15px auto 0px;
    border-bottom: 1px solid #e6e6e6;
    padding: 10px 30px !important;
}

#portfolio-compensation .fund-container:last-child{
	border-bottom: none;
}

.return-type{
	padding: 5px 10px;
	transition: 0.3s;
}

.return-type:hover{
	color: #0091EA;
	background-color: #f6f6f6;
	cursor: pointer;
	border-radius: 4px;
}

.ann-returns{
	display: none;
}

#ann-return-type{
	display: none;
}

#no-investment{
	font-size: 20px;
    color: #555;
}

#start-investing{
	padding: 20px 0;
    margin-bottom: 0;
    background-color: #0091EA;
    color: white;
    border-radius: 5px;
    font-size: 18px;
    padding-left: 30px;
}

#start-investing a{
	margin-left: 10px;
    color: white;
    padding-bottom: 2px;
    border-color: white;
    border-bottom: 2px solid;
}

#start-investing .material-icons{
	margin-right: 20px;
}

#start-investing .material-icons:hover{
	background-color: transparent !important;
}

#no-inv-div:hover{
	cursor: pointer;
}

#page-heading, #page-heading ~ p{
	color: #555555;
	padding-left: 30px;
}


#page-heading{
	font-size: 20px;
}

#page-heading ~ p{
	margin-bottom: 20px;
}

#withdraw-box{
	opacity: 0.97;
	border-radius: 7px;
	background-color: #0091ea;
}

#invest-link{
	-webkit-backdrop-filter: blur(5px);
	backdrop-filter: blur(5px);
	background-color: #ffffff;
	box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.06);
	background-color: white !important;
	color: #0091EA;
	border-radius: 22px;
	/* height: 44.2px; */
	line-height: ;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 135px;
}

.withdraw-link{
	border-radius: 25px;
	-webkit-backdrop-filter: blur(5px);
	backdrop-filter: blur(5px);
	background-color: #eff7fc;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 20px;
	padding-right: 20px;
	color: #0091EA;
	font-weight: 500;
}


.investor-card{
	margin: 10px auto;
}

.modal-dialog{
	width: 700px !important;
}

.withdraw-info-amount{
	text-align: left;
}

.modal-footer .pull-left{
	margin-left: 10px;
}

.withdraw-info-amount{
	font-size: 20px;
}

.acc-table-wrapper .table{
	margin-bottom: 0px  !important;
}

#withdraw-btn-holder::before{
	content: "";
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

#withdraw-btn-holder input[type='submit']{
	display: inline-block;
	vertical-align: middle;
}

.modal-title{
	margin-left: 15px !important;
}

.acc-table-wrapper{
	max-height: 400px;
	overflow-y: scroll;
}

/*#withdrawModal{*/
	/*display: flex;*/
	/*align-items: center;*/
/*}*/

.invested-bank{
	margin-bottom: 0px;
}

.exit-load-warning{
	margin-left: 20px;
	color: #FD353A;
}