#investment-duration{
	margin-left: 15px;
	border: none;
	font-weight: 500;
	background-image: url('../img/arrow_down_32.png');
	background-repeat: no-repeat;
	background-position: right;
	width: 120px;
	padding: 10px;
}

select:focus{
	outline: none;
	box-shadow: none;
}

#export-investment-btn{
	float: right;
}

.inv-info{
	    margin-right: 10px;
    font-size: 14px;
    background-color: #F2F2F2;
    padding: 3px 11px;
    border-radius: 50%;
    color: #555555;
}

.table>thead:first-child>tr:first-child>th{
	padding-top: 25px;
}

.inv-info:hover{
	cursor: pointer;
}

#today{
	margin-right: 20px;
	font-size: 28px !important;
}

.cancel-inv{
	color: #555555 !important;
	padding-top: 8px !important;
	padding-bottom: 8px !important;
}

.modal-dialog{
	width: 750px !important;
}

#utr-form{
	width: 50%;
	margin: 20px auto;
}

#utr_no{
	margin-bottom: 30px;
}

#utrModal .modal-dialog{
	width: 400px !important;
}