@media(min-width: 1800px){
	#introduction-tab{
		padding-top: 80px;
	}
}

@media(min-width: 1600px) and  (max-width: 1799px){
	#introduction-tab{
		padding-top: 60px;
	}

}


@media(min-width: 1400px) {
	#intro-img {
	    position: absolute;
	    z-index: 0;
	    height: 610px;
	    float: right;
	    top: 0;
	    left: 315px;
	}

	.head-info{
		margin-top: 45px;
	}

	#intro-text-container p:nth-child(2){
		font-size: 20px;
	}

	#intro-text-container p:nth-child(3){
	    padding-right: 300px;
		color: #333333;
		font-size: 20px;
	}

	#intro-text-container p:nth-child(4){
		font-size: 18px;
	}

	#register-link {
    	font-size: 18px;
    	padding: 13px 20px;
    	width: 175px;
    	margin-top: 75px;
	}
}

@media(min-width: 992px) and (max-width: 1200px){

	#intro-img{
		height: 370px;
	}
	h1{
		font-size: 28px;
	}
	h2{
		font-size: 24px !important;
	}
	#intro-text-container p:nth-child(2),p:nth-child(3) {
		font-size: 16px;
	}

	#intro-text-container p:nth-child(4) {
		font-size: 18px;
		padding-right: 200px;
	}

	#intro-text-container {
	    /* margin-bottom: 50px; */
	    margin-left: 0px;
	}

	.info-images{
		height: 90px;
	}

	.info-numbers{
		margin-left: 10px;
	}

	.info-text{
		margin-left: 10px;
		font-size: 12px;
	}

	.choose-image{
		height: 90px;
	}

	h4{
		font-size: 18px !important;
	}

	.article-container{
		width: 280px;
	}

	.article-heading{
		font-size: 18px;
		top: 76.9%;
	}

	.article-heading:hover {
    	padding-bottom: 150px;
    	top: 136px;
	}


	#login-card{
		width: 100%;
		height: 520px;
		margin-left: auto;
		margin-right: auto;

	}

	h1.fp{
		margin-left: auto;
		margin-right: auto;
		width: 100%;
	}

	#powered-by p {
		font-size: 14px;
	}

	#login-card h3 {
		padding: 30px 0px;
		font-size: 14px;
	}

	#enquiry-form input{
		font-size: 14px;
	}

	#p-logo{
		height: 40px;
		margin-top: 20px;
	}

	#wreath{
		height: 75px;
		margin-top: 20px;
	}

	.feature-heading{
		margin-left: auto;
		margin-right: auto;
		font-size: 16px !important;
		width: 100%;
		margin-bottom: 20px;
	}

	#introduction-tab {
		height: auto;
		padding-bottom: 50px;
	}

	.feature-container img {
		height: 70px;
		margin-top: 40px;
	}

	#graph-nav {
		padding: 20px;
	}

	#graph-nav p span a.active {
		padding: 4px 8px;
		color: white;
		background-color: #0091EA;
		border-radius: 4px;
		font-size: 14px;
	}

	#graph-nav p span a{
		margin: 0px;
		font-size: 16px;
	}

	#graph-nav p span{
		padding: 5px;
	}

	#graph-img-holder{
		height: 260px;
	}

	#graph-holder{
		height: 520px;
	}

	#duration-indicator {
		margin-top: 40px;
		font-size: 14px;

	}

	#label-holder {
		padding-left: 20px;
		font-size: 16px;
		/* text-align: center; */
	}

	.navbar-default .navbar-toggle{
		border: none !important;
	}

	#partner-logo{
		height: 70px;
		margin-top: 30px;
	}
}



@media(min-width: 768px) and (max-width: 992px){

	#intro-img{
		height: 375px;
    left: 322px;
	}
	h1{
		font-size: 24px;
	}
	h2{
		font-size: 22px !important;
	}

	#intro-text-container p:nth-child(2) {
    	padding-right: 90px;
	}
	#intro-text-container p:nth-child(2),p:nth-child(3) {
		font-size: 14px;
	}

	#intro-text-container p:nth-child(4) {
		font-size: 18px;
		padding-right: 200px;
	}

	#intro-text-container p:nth-child(3) {
    	padding-right: 100px;
    	font-size: 16px;
	}

	#intro-text-container p:nth-child(4) {
		margin-top: 15px;
	}
	#intro-text-container {
	    /* margin-bottom: 50px; */
	    margin-left: 0px;
	    z-index: 10;
	}

	#register-link {
	    font-size: 16px;
	    padding: 10px;
	    width: 130px;
	    margin-top: 25px;
	}

	#nav-register-btn{
		width: 100px;
		font-size: 14px;
	}

	.navbar-nav>li>a {
    	font-size: 16px;
    	font-weight: 400;
	}

	.info-images{
		height: 65px;
	}

	.info-numbers{
		color: #555555;
    	font-weight: 500;
    	margin-bottom: 2px;
    	margin-top: 12px;
    	margin-left: 15px;
	}

	.info-text{
		margin-left: 15px;
		font-size: 12px;
	}

	.choose-image{
		height: 65px;
	}

	h4{
		font-size: 16px !important;
	}

	.article-container{
		width: 210px;
		height: 270px;
	}

	.article-heading{
		font-size: 14px;
		top: 68.9%;
	}

	.article-heading:hover {
    	padding-bottom: 100px;
    	top: 100px;
	}

	.amc-container{
		width: 225px;
	}

	.amc-image{
		height: 25px;
	}

	.amc-info-text{
		font-size: 12px;
	}

	.return-perc{
		font-size: 20px !important;
	}

	.amc-year{
		font-size: 13px;
	}

	.margin-logo{
		margin: 10px auto;
	}

	.logo-container{
		margin: 10px auto 0px;
	}

	#reliance{
		height: 45px;
	}

	#lt,#dsp{
		height: 35px;
	}

	#dsp{
		height: 30px;
	}

	#icici,#franklin{
		height: 60px;
	}

	#birla{
		height: 50px;
	}

	#hdfc{
		height: 40px;
	}

	#sbi{
		height: 28px;
	}
	#kotak{
		height: 40px;
	}

	#axis{
		height: 28px;
	}

	#tata{
		height: 50px;
	}

	#sundaram{
		height: 28px;
	}

	ul li a{
		font-size: 12px;
	}

	.social-list{
		margin: 0px;
	}

	.footer-social{
		height: 16px;	 
	}

	#reg-company{
		font-size: 12px;
	}

	#disclaimer{
		font-size: 10px;
	}

	#amc-names{
		font-size: 12px;
	}

	.feature-info{
		padding: 0px 15px;
	}


	#login-card{
		width: 300px;
		height: 520px;
		margin-left: auto;
		margin-right: auto;

	}

	h1.fp{
		margin-left: auto;
		margin-right: auto;
		width: 100%;
	}

	#powered-by p {
		font-size: 14px;
	}

	#login-card h3 {
		padding: 30px 0px;
		font-size: 14px;
	}

	#enquiry-form input{
		font-size: 14px;
	}

	#p-logo{
		height: 35px;
		margin-top: 20px;
	}

	#wreath{
		height: 55px;
		margin-top: 20px;
	}

	.feature-heading{
		margin-left: auto;
		margin-right: auto;
		font-size: 16px !important;
		width: 100%;
		margin-bottom: 20px;
	}

	#introduction-tab {
		height: auto;
		padding-bottom: 50px;
	}

	.feature-container img {
		height: 70px;
		margin-top: 40px;
	}

	#graph-nav {
		padding: 10px 10px;
	}

	#graph-nav p span a.active {
		padding: 4px 8px;
		color: white;
		background-color: #0091EA;
		border-radius: 4px;
		font-size: 14px;
	}

	#graph-nav p span a{
		margin: 0px;
		font-size: 14px;
	}

	#graph-nav p span{
		padding: 5px;
	}

	#graph-img-holder{
		height: 220px;
	}

	#graph-holder{
		height: 480px;
	}

	#duration-indicator {
		margin-top: 40px;
		font-size: 14px;

	}

	#label-holder {
		padding-left: 20px;
		font-size: 16px;
		/* text-align: center; */
	}

	.navbar-default .navbar-toggle{
		border: none !important;
	}

	#partner-logo{
		height: 60px;
		margin-top: 30px;
	}

}

@media(min-width: 500px) and (max-width: 767px){
	#intro-text-container{
		text-align: center;
		z-index: 10;
		padding: 0px 15px;
	}

	#intro-text-container p:nth-child(2){
		padding: 0px 140px;
	}

	#intro-text-container p:nth-child(3){
		padding: 0px 140px;
	}

	#intro-text-container p:nth-child(4){
		padding: 0px;
	}

	#intro-img{
		display: none;
	}

	#rightfunds-info{
		text-align: center;
	}

	h1{
		font-size: 28px;
	}

	#intro-text-container p:nth-child(2) {
    	padding: 0px 40px;
		font-size: 16px;
	}

	#intro-text-container p:nth-child(3) {
 	   padding: 0px 60px;
	}

	h2{
		font-size: 24px !important;
		line-height: 1.5;
		padding: 0% 10%;
	}

	.amc-container{
		    padding: 20px 10px;
    box-shadow: 0px 0px 25px rgba(210, 210, 210, 0.7);
    width: 275px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 25px;
    height: 330px;
	}

	.feature-info{
		padding: 0px 60px;
	}

	.article-heading{
		top: 76.5%;
		font-size: 20px
	}

	.article-heading:hover {
    	padding-bottom: 150px;
    	top: 148px;
	}

	.article-container{
		    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
	}

	#franklin{

	}

	#reliance{
		height: 45px;
	}

	#lt,#dsp{
		height: 35px;
	}

	#dsp{
		height: 30px;
	}

	#icici,#franklin{
		height: 50px;
	}

	#birla{
		height: 50px;
	}

	#hdfc{
		height: 40px;
	}

	#sbi{
		height: 28px;
	}
	#kotak{
		height: 40px;
	}

	#axis{
		height: 28px;
	}

	#tata{
		height: 50px;
	}

	#sundaram{
		height: 28px;
	}

	.margin-logo{
		margin: 0px auto 30px;
	}

	.logo-container{
		margin: 0px auto;
	}

	#footer-section{
		text-align: center;
	}

	#disclaimer{
		padding: 0px 80px;
    margin-bottom: 40px;
	}

	.footer-info{
		margin-top: 40px;
	}

	#amc-names{
		padding: 0px 0px 15px;
		font-size: 14px;
	}

	#cin-and-arn {
    	margin: 20px auto;
    	font-size: 14px;
	}


	#login-card{
		width: 400px;
		margin-left: auto;
		margin-right: auto;
	}

	h1.fp{
		margin-left: auto;
		margin-right: auto;
		width: 100%;
	}

	#powered-by p {
		font-size: 14px;
	}

	#login-card h3 {
		padding: 30px 0px;
		font-size: 14px;
	}

	#enquiry-form input{
		font-size: 14px;
	}

	#p-logo{
		height: 30px;
		margin-top: 20px;
	}


		#wreath{
		height: 50px;
		margin-top: 20px;
	}

	.feature-heading{
		margin-left: auto;
		margin-right: auto;
		font-size: 16px !important;
		width: 100%;
		margin-bottom: 20px;
	}

	#introduction-tab {
		height: auto;
		padding-bottom: 50px;
	}

	.feature-container img {
		height: 70px;
		margin-top: 40px;
	}

	#graph-nav {
		padding: 10px 10px;
	}

	#graph-nav p span a.active {
		padding: 4px 8px;
		color: white;
		background-color: #0091EA;
		border-radius: 4px;
		font-size: 14px;
	}

	#graph-nav p span a{
		margin: 0px;
		font-size: 14px;
	}

	#graph-nav p span{
		padding: 5px;
	}

	#graph-img-holder{
		height: 220px;
	}

	#graph-holder{
		height: 480px;
	}

	#duration-indicator {
		margin-top: 0px;
		font-size: 14px;
	}

	#label-holder {
		padding-left: 0px;
		font-size: 16px;
		text-align: center;
	}

	.navbar-default .navbar-toggle{
		border: none !important;
	}


	#partner-logo{
		height: 50px;
		margin-top: 30px;
		margin-left: auto;
		margin-right: auto;
	}

}




@media(min-width: 350px) and (max-width: 500px){
			#intro-text-container{
		text-align: center;
		z-index: 10;
		padding: 0px 15px;
	}

	#intro-text-container p:nth-child(2){
		padding: 0px 140px;
	}

	#intro-text-container p:nth-child(3){
		padding: 0px 140px;
	}

	#intro-text-container p:nth-child(4){
		padding: 0px;
		margin-top: 20px;
	}

	#intro-img{
		display: none;
	}

	#rightfunds-info{
		text-align: center;
	}

	h1{
		font-size: 20px;
	}

	#intro-text-container p:nth-child(2) {
    	padding: 0px;
		font-size: 16px;
	}

	#intro-text-container p:nth-child(3) {
 	   padding: 0px 0px;
	}

	h2{
		font-size: 22px !important;
		padding: 0px 5px;
		line-height: 1.45;
	}

	.amc-container{
		    padding: 20px 10px;
    box-shadow: 0px 0px 25px rgba(210, 210, 210, 0.7);
    width: 275px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 25px;
    height: 330px;
	}

	.article-heading:hover {
    	padding-bottom: 110px;
    	top: 100px;
	}

	.feature-info{
		padding: 0px 40px;
	}

	.choose-image{
		height: 70px;
	}

	.article-heading{
		top: 69%;
		font-size: 17px
	}

	.article-container{
		    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    width: 260px;
    height: 280px;
	}

	#franklin{

	}

	#reliance{
		height: 45px;
	}

	#lt,#dsp{
		height: 35px;
	}

	#dsp{
		height: 30px;
	}

	#icici,#franklin{
		height: 50px;
	}

	#birla{
		height: 50px;
	}

	#hdfc{
		height: 40px;
	}

	#sbi{
		height: 28px;
	}
	#kotak{
		height: 40px;
	}

	#axis{
		height: 28px;
	}

	#tata{
		height: 50px;
	}

	#sundaram{
		height: 28px;
	}

	.margin-logo{
		margin: 0px auto 30px;
	}

	.logo-container{
		margin: 0px auto;
	}

	#footer-section{
		text-align: center;
	}

	#disclaimer{
		padding: 0px;
    margin-bottom: 40px;
	}

	.footer-info{
		margin-top: 40px;
	}

	#amc-names{
		padding: 0px 0px 15px;
		font-size: 12px;
	}

	#cin-and-arn {
    	margin: 20px auto;
    	font-size: 14px;
	}



	#login-card{
		width: auto;
	}

	h1.fp{
		margin-left: auto;
		margin-right: auto;
		width: 100%;
	}

	#powered-by p {
		font-size: 14px;
	}

	#login-card h3 {
		padding: 30px 0px;
		font-size: 14px;
	}

	#enquiry-form input{
		font-size: 14px;
	}

	#p-logo{
		height: 30px;
		margin-top: 20px;
	}

		#wreath{
		height: 50px;
		margin-top: 20px;
	}

	.feature-heading{
		margin-left: auto;
		margin-right: auto;
		font-size: 16px !important;
		width: 100%;
		margin-bottom: 20px;
	}

	#introduction-tab {
		height: auto;
		padding-bottom: 50px;
	}

	.feature-container img {
		height: 70px;
		margin-top: 40px;
	}

	#graph-nav {
		padding: 10px 10px;
	}

	#graph-nav p span a.active {
		padding: 4px 8px;
		color: white;
		background-color: #0091EA;
		border-radius: 4px;
		font-size: 14px;
	}

	#graph-nav p span a{
		margin: 0px;
		font-size: 14px;
	}

	#graph-nav p span{
		padding: 5px;
	}

	#graph-img-holder{
		height: 220px;
	}

	#graph-holder{
		height: 480px;
	}

	#duration-indicator {
		margin-top: 0px;
		font-size: 14px;
	}

	#label-holder {
		padding-left: 0px;
		font-size: 16px;
		text-align: center;
	}

	.navbar-default .navbar-toggle{
		border: none !important;
	}


	#partner-logo{
		height: 45px;
		margin-top: 30px;
		margin-left: auto;
		margin-right: auto;
	}

}



@media(min-width: 300px) and (max-width: 350px){

				#intro-text-container{
		text-align: center;
		z-index: 10;
		padding: 0px 15px;
	}

	#intro-text-container p:nth-child(2){
		padding: 0px 140px;
	}

	#intro-text-container p:nth-child(3){
		padding: 0px 140px;
	}

	#intro-text-container p:nth-child(4){
		padding: 0px;
		margin-top: 20px;
	}

	#intro-img{
		display: none;
	}

	#rightfunds-info{
		text-align: center;
	}

	h1{
		font-size: 18px;
		margin-bottom: 20px;
	}

	#intro-text-container p:nth-child(2) {
		padding: 0px 10px;
		font-size: 14px;
		margin-top: 0px;
	}

	#intro-text-container p:nth-child(3) {
 	   padding: 0px 0px;
 	   font-size: 14px;
 	   padding: 0px 10px;
	}

	#intro-text-container p:nth-child(4) {
		font-size: 14px;
	}

	#register-link {
    	font-size: 14px;
    	padding: 10px 20px;
    	margin-top: 70px;
    	width: 120px;
	}

	h2{
		font-size: 18px !important;
		line-height: 1.5;
	}



	.feature-info{
		padding: 0px 20px;
	}

	.choose-image{
		height: 70px;
	}


	.margin-logo{
		margin: 0px auto 30px;
	}

	.logo-container{
		margin: 0px auto;
	}

	#footer-section{
		text-align: center;
	}

	#disclaimer{
		padding: 0px;
    margin-bottom: 40px;
	}

	.footer-info{
		margin-top: 40px;
	}

	#amc-names{
		padding: 0px 0px 15px;
		font-size: 12px;
	}

	#cin-and-arn {
    	margin: 20px auto;
    	font-size: 12px;
    	padding-left: 0px;
	}

	#cin{
		margin-right: 10px;
	}


	#login-card{
		width: auto;
	}

	h1.fp{
		margin-left: auto;
		margin-right: auto;
		width: 100%;
	}

	#powered-by p {
		font-size: 14px;
	}

	#login-card h3 {
		padding: 30px 0px;
		font-size: 14px;
	}

	#enquiry-form input{
		font-size: 14px;
	}

	#p-logo{
		height: 30px;
		margin-top: 20px;
	}

	#wreath{
		height: 50px;
		margin-top: 20px;
	}



	.feature-heading{
		margin-left: auto;
		margin-right: auto;
		font-size: 16px !important;
		width: 100%;
		margin-bottom: 20px;
	}

	#introduction-tab {
		height: auto;
		padding-bottom: 50px;
	}

	.feature-container img {
		height: 70px;
		margin-top: 40px;
	}

	#graph-nav {
		padding: 10px 10px;
	}

	#graph-nav p span a.active {
		padding: 4px 8px;
		color: white;
		background-color: #0091EA;
		border-radius: 4px;
		font-size: 14px;
	}

	#graph-nav p span a{
		margin: 0px;
		font-size: 14px;
	}

	#graph-nav p span{
		padding: 5px;
	}

	#graph-img-holder{
		height: 220px;
	}

	#graph-holder{
		height: 480px;
	}

	#duration-indicator {
		margin-top: 0px;
		font-size: 14px;
	}

	#label-holder {
		 padding-left: 0px;
		font-size: 16px;
		text-align: center;
	}

	.navbar-default .navbar-toggle{
		border: none !important;
	}


	#partner-logo{
		height: 40px;
		margin-top: 30px;
		margin-left: auto;
		margin-right: auto;
	}


}