html{
	overflow-x: hidden;
}

#nav-register-btn{
	    font-size: 17px;
    margin-top: 10px;
}

#p-logo{
	height: 50px;
	margin-top: 30px;
}



.navbar-nav>li>a {
	font-size: 18px;
	font-weight: 400;
}

.blue-text{
	color: #0091EA !important;
}

.navbar-nav>li {
    margin: 0px 10px;
}

.navbar-custom {
    background-image: none !important;
    background-color: white !important;
    border-radius: 0px !important;
    box-shadow: none;
    padding: 5px 5px 0px;
    padding-bottom: 0px;
    border: none !important;
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.09);
}

#introduction-tab{
	height: auto;
	margin-top: 0px;
	margin-bottom: 0px;
	background-image: linear-gradient(89deg, #ffffff, #f4fbff);
	padding-bottom: 10%;
}

#navbar-container{
	margin-bottom: 15px;
}

#rightfunds-info{
	margin: 0px auto;
}

#login{
	color: #0091EA !important;
	text-decoration: underline;
	font-weight: 500;
}

#rightfunds-info{
	background-color: #FAFAFA;
}

.info-numbers{
    color: #555555;
    font-weight: 500;
    margin-bottom: 10px;
    margin-top: 20px;
    margin-left: 5px;
}

.info-text{
	color: #555555;
    font-size: 14px;
    margin-left: 5px;

}

.info-images{
	/*height: 20px;*/
}

#rightfunds-container{
	padding: 20px 15px;
}

h2{
	font-size: 28px !important;
	color: #333333;
	margin: 60px auto;
	font-weight: 700;
}

h3{
	font-size: 20px !important;
	margin-top: 0px;
}

h4{
	font-size: 20px !important;
	color: #333333;
}

.amc-image{
	height: 30px;
    margin-bottom: 20px;
}

.amc-year{
	font-size: 16px;
	margin-bottom: 5px;
}

.return-perc{
	font-size: 24px !important;
	font-weight: 
}

.amc-container{

       padding: 20px 10px;
    box-shadow: 0px 0px 25px rgba(210, 210, 210, 0.7);
    width: 275px;
}

.feature-info{
	font-size: 16px;
    color: #555555;
    padding: 0px 35px;
}

.feature-heading{
	line-height: 1.45;
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	margin-top: 30px;
	/*width: 80%;*/
}

#duration-indicator{
	margin-top: 30px;
	font-size: 18px;
}

.feature-container{
	margin: 10px auto;
}

.article-container{
	height: 370px;
    background-size: cover;
    background-position: center;
    width: 340px;
}

#article-one{
	background-image: url(../img/pexels-photo.jpg);
}

#article-two{
	background-image: url(../img/mutual-funds.jpg);
}

#article-three{
	background-image: url(../img/piggy-bank.jpg);
}

.article-heading{
	position: absolute;
    top: 73.5%;
    padding: 15px;
    width: 100%;
    font-size: 24px;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    margin-bottom: 0px;
    transition: 0.2s;
    cursor: pointer;
}

.article-heading:hover {
    padding-bottom: 150px;
    top: 136px;
}

.material-icons{
	vertical-align: middle;
}

.article-heading span:first-child{
	width: 80%;
	display: inline-block;
}

.article-heading span:nth-child(2){
	float: right;
    margin-right: 10px;
    display: inline-block;
    margin-top: 30px;
}

.logo-container{
	    margin: 30px auto;
}

.partners-logo{
	margin-left: auto;
	margin-right: auto;
	display: block;
}



/*Footer Section starts*/

#footer-section{
	color: #4a4a4a;
    margin-bottom: 0px;
    padding: 60px 0px 30px;
	background-image: linear-gradient(0deg, #ffffff, #f4fbff);
}


#disclaimer{
	font-size: 12px;
}


.footer-info{
	font-size: 16px;
	font-weight: 500;
	color: #0091ea;
}

ul{
	list-style-type: none;
	padding: 0px;
}

ul li{
	margin-bottom: 10px;
	margin-top: 20px;
}

ul li a {
	color: #4a4a4a;
}

.footer-social{
	height: 18px;
}

#footer-logo{
	margin-bottom: 10px;
	height: 30px;
}

#amc-names{
	font-size: 16px;
	font-weight: 400;
	padding-bottom: 30px;
	border-bottom: 1px solid gray;
}

.p-l-15{
	padding-left: 15px;
}

#cin{
	margin-right: 40px;
}

#cin-and-arn{
	margin: 20px auto;
}

#reg-company{
	margin-top: 20px;
}

.social-list{
	margin: 0px 10px 0px 0px;
}

#social-parent{
	margin-top: 20px;
}

#partners-container{
	margin-top: 25px;
}

#intro-img{

	    position: absolute;
    z-index: 0;
    height: 475px;
    float: right;
    top: 0;
    left: 432px;
}

h1{
	color: #333333;
	font-size: 43px;
	margin-top: 0px;
	width: 75%;
	line-height: 1.53;
	font-weight: 700;
}

.head-info{
	font-size: 20px;
    color: #555555;
    padding: 0px 100px 0px 0px;
    margin-top: 30px; 
}

#intro-text-container p:nth-child(3){
	padding-right: 200px;
	color: #333333;
	font-size: 18px;
}

#intro-text-container p:nth-child(2){
	padding-right: 180px;
	color: #333333;
	font-size: 20px;
	margin-top: 40px;
	margin-bottom: 30px;
}

#powered-by p{
	font-size: 20px;
}

#intro-text-container p:nth-child(4){
	padding-right: 350px;
    font-size: 20px;
    color: #555555;
    margin-top: 60px;
    color: #333333
}

#register-link{
	font-size: 16px;
    padding: 13px 20px;
    width: 150px;
    margin-top: 25px;
}

#intro-text-container{
	/*margin-bottom: 50px;*/
	margin-top: 65px;
}
#introduction-tab .container{
	margin-top: 80px;
}


.footer-list li a:hover{
	border-bottom: 1px solid white;
	color: #4a4a4a;
	padding-bottom: 2px;
}

#amc-names span{
	transition: 0.3s;
}

#amc-names span:hover{
	color:#0091EA;
	cursor: pointer;
}

#login-card{
	width: 444px;
	height: 550px;
	border-radius: 10px;
	background-color: #ffffff;
	box-shadow: 0 5px 12px 0 rgba(54, 54, 54, 0.15);
	margin-top: 40px;
}

.fp{
	font-family: 'Poppins', sans-serif;
}

#login-card h3{
	padding: 40px 0px;
	font-family: 'Poppins', sans-serif;
	color: #333333;
	font-weight: 600;
	font-size: 24px !important;

}


#partner-logo{
	display: block;
	height: 85px;
	margin-top: 30px;
}

#enquiry-form{
	text-align: center;
}

#enquiry-form input{
	border-radius: 3px;
	background-color: #f7f7f7;
	outline: none;
	width: 75%;
	border: none;
	height: 50px;
	padding: 0px 10px;
	font-size: 18px;
}

.form-group{
	margin-bottom: 25px;
}

#enquiry-form button[type="submit"]{
	width: 30%;
	margin-top: 20px;
	background-image: linear-gradient(218deg, #0091ea, #3eb6ff);
	color: white;
	border-radius: 25px;
	padding: 10px;
}

#enquiry-form button[type="submit"]:active, #enquiry-form button[type="submit"]:hover, #enquiry-form button[type="submit"]:focus{
	background-image: none !important;
	background-color: #0091ea;

}

#graph-holder{
	height: 660px;
	box-shadow: 0 3px 30px 0 rgba(54, 54, 54, 0.12);
	margin-bottom: 80px;
}

#graph-nav{
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
	height: 120px;
}

.p-lr-zero{
	padding-left: 0px;
	padding-right: 0px;
}

#graph-nav{
	padding: 30px 50px;
}

#graph-nav p{
	font-size:16px;
}

#graph-nav p span{
	display: inline-block;
	margin: 0px 20px 0px 0px;
}

#graph-nav p span a{
	color: #0091EA;
	margin-top: 5px;
	display: inline-block;
	font-size: 18px;
}

#graph-nav p span a.active{
	padding: 8px 15px;
	color: white;
	background-color: #0091EA;
	border-radius: 4px;
}

#graph-img-holder{
	height: 400px;
}

#graph-img-holder img{
	margin-left: auto;
	margin-right: auto;
	height: 100%;
	margin-top: 20px;
}

.feature-container img{
	height: 100px;
}

a:hover, a:active, a:focus{
	text-decoration: none;

}

#label-image{
	height: 14px;
	margin-right: 10px;
}

#label-holder{
	padding-left: 50px;
	font-size: 18px;
}

.email-response{
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	color: #0091EA;
}


#wreath{
	    height: 100px;
    margin-top: 30px;
    margin-left: 10px;
}
