#media-kit{
	background-color: #0091EA;
    margin-top: 120px;
    padding: 70px 0px;
    color: white !important;
}

.usage-info{
	 padding: 0px 150px 0px 0px;
}

#media-header{
	margin-bottom: 50px;
	color: white !important;
}

#download-card{
	background-color: white;
	border-radius: 5px;
	height: 190px;
    width: 185px;
	text-align: center;
	box-shadow: 0px 0px 20px rgba(144, 144, 144, 0.5);
}

#kit-icon{
	color: #555555;
    margin-top: 30%;
    font-size: 60px;
}

#kit-icon:hover{
	cursor: default;
	background-color: transparent !important;
}


#kit-link{
	color: #555555;
    font-size: 18px;
    margin-top: 10px;
    display: block;
    transition:0.3s;

}

#kit-link:hover{
	color: #0091ea;

}

#press-header{
	color: #555555;
	margin-top: 50px;
}