.modal-backdrop {

    background-color: white !important;
}

.modal-backdrop.in {
    filter: alpha(opacity=50);
    opacity: .7;
}

.modal-content {
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    /* border: 1px solid #999; */
    /* border: 1px solid rgba(0,0,0,.2); */
    border-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5) !important;
    box-shadow: 0 3px 9px rgba(0,0,0,.5) !important;
    border:none!important;
}


.modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5) !important;
    box-shadow: 0 0px 15px rgba(202, 202, 202, 0.5) !important;
    border-radius: 5px !important;
}

.modal-footer{
    border:none !important;
}

.success-btn{
    background-color: #04D298 !important;
    border-color: #04D298 !important;
    box-shadow: none !important;
    text-shadow: none !important;
    background-image: none !important;
    color: white !important;
    width: 100px;
    height: 40px;
    font-size: 16px !important;
}

.failure-btn{

    background-color:  #FD353A !important;
    border-color: #FD353A !important;
    box-shadow: none !important;
    text-shadow: none !important;
    background-image: none !important;
    color: white !important;
    width: 100px;
    height: 40px;
    font-size: 16px !important;

}

#infoModal .modal-dialog{
    width: 300px !important;
}

.response-image{
    height: 75px;
    margin: 15px auto;
    /* position: absolute; */
    /* top: 20%; */
    /* left: 38%; */
}

.success-body{
    /*background-color: #04D298;*/
}

.failure-body{
    /*background-color: #fd353a;*/
}

.modal-res-header{
    height: 100px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.modal-body{
    padding: 0px !important;
}

.modal-res-text{
    text-align: center;
    font-size: 18px;
    padding: 0px 10px;
    margin-top: 20px;
    color: #333;
}

.modal-res-body{
    padding-top: 10px;
    padding-bottom: 10px;
}

.modal-header{
    border-bottom: none;
}

.modal-title{
    color: #555 !important;
}