@media(min-width: 1800px){

}

@media(min-width: 1600px){

}

@media(min-width: 1400px) {

}


@media(min-width: 992px) and (max-width: 1200px){
	.table-container-header{
		font-size: 20px;
	}

	.total-content-data{
		font-size: 16px;
	}

	.table-content{
		font-size: 14px;
	}

	#acct-info-statement{
		margin-left: 5px;
	}

	
}

@media(min-width: 768px) and (max-width: 992px){
	#acc-statement-header-ul>li>a{
		font-size: 16px;
		margin: 10px;
	}

	.active-acc-header>a{
		padding: 30px 10px;
	}

	td.fund-name-content>p {
	    padding-left: 18px;
	    width: 220px !important;
	}

	.acc-table-wrapper{
		overflow-x: scroll;
	}

	.acc-table-wrapper::-webkit-scrollbar-track
	{
	  background-color: #F5F5F5;
	}

	.acc-table-wrapper::-webkit-scrollbar
	{
	  width: 4px;
	  background-color: #F5F5F5;
	  height: 8px;
	}

	.acc-table-wrapper::-webkit-scrollbar-thumb
	{
	  background-color: #ccc;
	}
}

@media(min-width: 500px) and (max-width: 767px){
	
	#acc-statement-header-ul{
		text-align: left;
		margin-bottom: 0px;
	}

	#acc-statement-header-ul>li>a{
		 padding: 0px;
	    margin-left: 0px;
	    text-align: center;
	    width: 25%;
	    margin-right: 0;
	    font-size: 14px;
	}

	.active-acc-header>a{
		padding: 30px 10px;
	}

	td.fund-name-content>p {
	    padding-left: 18px;
	    width: 220px !important;
	}

	.acc-table-wrapper{
		overflow-x: scroll;
	}

	.acc-table-wrapper::-webkit-scrollbar-track
	{
	  background-color: #F5F5F5;
	}

	.acc-table-wrapper::-webkit-scrollbar
	{
	  width: 4px;
	  background-color: #F5F5F5;
	  height: 8px;
	}

	.acc-table-wrapper::-webkit-scrollbar-thumb
	{
	  background-color: #ccc;
	}

	.table-container{
		margin: 0px 15px;
	}

	#acct-info-statement{
		margin-left: 15px;
		font-size: 14px;
	}

	#export-portfolio-btn{
		margin-right: 15px;
		width: 100px;
	}

	#footer-section{
		text-align: center;
	}

	#acc-statement-header-ul li{
		width: 24%;
		text-align: center;
	}

	.active-acc-header>a{
		color: #0091EA;
		border: none;
	}

	#acc-statement-header{
		padding-bottom: 0px;
	}

	#acc-statement-header-ul li.active-acc-header{
		border-bottom: 3px solid #0091EA;
	}

	#acc-statement-header-ul li{
		padding-bottom: 10px;
	}


	/* Investment History Pages css below*/

	.portfolio-table-section{
		margin: 15px; 
	}

	#acct-info-container{
		
	}

	#export-investment-btn{
		margin-right: 20px;
	}

	.inv-info{
		display: block;
	    text-align: center;
	    float: none !important;
	    padding: 1px -1px;
	    width: 27px;
	    margin-left: auto;
	    margin-right: auto;
	    margin-top: 5px;
	    clear: both;
	}

	/*Investment history ends*/
}
@media(min-width: 350px) and (max-width: 500px){
	#acc-statement-header-ul{
		text-align: left;
		margin-bottom: 0px;
	}

	#acc-statement-header-ul>li>a{
		 padding: 0px;
	    margin-left: 0px;
	    text-align: center;
	    width: 25%;
	    margin-right: 0;
	    font-size: 14px;
	}

	.active-acc-header>a{
		padding: 30px 10px;
	}

	td.fund-name-content>p {
	    padding-left: 18px;
	    width: 220px !important;
	}

	.acc-table-wrapper{
		overflow-x: scroll;
	}

	.acc-table-wrapper::-webkit-scrollbar-track
	{
	  background-color: #F5F5F5;
	}

	.acc-table-wrapper::-webkit-scrollbar
	{
	  width: 4px;
	  background-color: #F5F5F5;
	  height: 8px;
	}

	.acc-table-wrapper::-webkit-scrollbar-thumb
	{
	  background-color: #ccc;
	}

	.table-container{
		margin: 0px 15px;
	}

	#acct-info-statement{
		margin-left: 15px;
		font-size: 14px;
	}

	#export-portfolio-btn{
		margin-right: 15px;
    	width: 80px;
    	padding: 5px;
	}

	#footer-section{
		text-align: center;
	}

	#acc-statement-header-ul li{
		width: 24%;
		text-align: center;
	}

	.active-acc-header>a{
		color: #0091EA;
		border: none;
	}

	#acc-statement-header{
		padding-bottom: 0px;
	}

	#acc-statement-header-ul li.active-acc-header{
		border-bottom: 3px solid #0091EA;
	}

	#acc-statement-header-ul li{
		padding-bottom: 10px;
	}

	#export-investment-btn{
		width: 80px;
		margin-right: 15px;
	}

	.portfolio-table-section{
		margin: 15px; 
	}

	.table-container-header span:first-child{
		display: block;
		text-align: left;
		border-right: none;
		font-size: 18px;
	}

	.table-detail-info{
		margin-left: 0px;
		font-size: 16px;
	}
}

@media(min-width: 300px) and (max-width: 350px){
		#acc-statement-header-ul{
		text-align: left;
		margin-bottom: 0px;
	}

	#acc-statement-header-ul>li>a{
		 padding: 0px;
	    margin-left: 0px;
	    text-align: center;
	    width: 25%;
	    margin-right: 0;
	    font-size: 12px;
	}

	.active-acc-header>a{
		padding: 30px 10px;
	}

	td.fund-name-content>p {
	    padding-left: 18px;
	    width: 220px !important;
	}

	.acc-table-wrapper{
		overflow-x: scroll;
	}

	.acc-table-wrapper::-webkit-scrollbar-track
	{
	  background-color: #F5F5F5;
	}

	.acc-table-wrapper::-webkit-scrollbar
	{
	  width: 4px;
	  background-color: #F5F5F5;
	  height: 8px;
	}

	.acc-table-wrapper::-webkit-scrollbar-thumb
	{
	  background-color: #ccc;
	}

	.table-container{
		margin: 0px 15px;
	}

	#acct-info-statement{
		margin-left: 15px;
		font-size: 12px;
	}

	#export-portfolio-btn{
		margin-right: 15px;
    	width: 80px;
    	padding: 5px;
	}

	#footer-section{
		text-align: center;
	}

	#acc-statement-header-ul li{
		width: 24%;
		text-align: center;
	}

	.active-acc-header>a{
		color: #0091EA;
		border: none;
	}

	#acc-statement-header{
		padding-bottom: 0px;
	}

	#acc-statement-header-ul li.active-acc-header{
		border-bottom: 3px solid #0091EA;
	}

	#acc-statement-header-ul li{
		padding-bottom: 10px;
	}

	.table-container-header{
		font-size: 18px;
	}

	.total-content-data{
		font-size: 16px;
	}

	#export-investment-btn{
		width: 80px;
		margin-right: 15px;
	}

	.portfolio-table-section{
		margin: 15px; 
	}

	.table-container-header span:first-child{
		display: block;
		text-align: left;
		border-right: none;
		font-size: 18px;
	}

	.table-detail-info{
		margin-left: 0px;
		font-size: 16px;
	}
}