
.fund-name-header{
    width: 220px;
}

.fund-name-content{
    font-size: 16px;
}


.folio-number-header{
    width: 130px;
}

.container-border{
    border: 1px solid #e6e6e6;
    border-radius: 5px;
}


th.fund-name-header>p{
    padding-left: 18px;
}

td.fund-name-content>p{
    padding-left: 18px;

}

.total-content-data{
    color: #0091EA;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 0px;
}


.portfolio-table-section{
    margin-bottom: 15px;
}

#export-portfolio-btn{
    float: right;
}

#no-investment{
    font-size: 20px;
    color: #555;
    margin-top: 10px;
    padding-left: 25px;
}

#export-portfolio{
    margin-bottom: 15px;
    background-color: #0091EA !important;
    color: white !important;
}

#export-portfolio .material-icons{
    vertical-align: middle;
    margin-right: 10px;
    font-size: 22px !important;
}

#export-portfolio .material-icons:hover{
    background-color: transparent !important;
}

.investor-port-holder{
    margin: 20px auto;
}

.fund-name-header{
    width: 340px !important;
}

.no-transaction{
    color: rgba(85, 85, 85, 0.65);
    font-weight: 400;
    margin-bottom: 30px;
}






