#register-container{
	height: 500px;
}

.logo{
	display: block;
	height: 50px;
	margin-left: 15px;
	margin-top: 40px;
}

.bg-blue{
	background-color: #0091EA;
	color: white;
    height: 500px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    padding: 0px 40px !important;
}


.carousel-indicators {
    position: absolute;
    bottom: 10px;
    left: -9% !important;
    z-index: 15;
    width: 40% !important;
    padding-left: 0 !important;
    margin-left: 0 !important;
    list-style: none;
    top: 100%;
}

.item h1{
	margin-bottom: 20px;
}

.item p{
	margin-bottom: 0px;
	font-size: 16px;
	font-weight: 300;
}

.item h1>span{
    text-align: center;
	font-weight: 300!important;
}

.carousel-control.right,.carousel-control.left{
	background-image: none !important;
}

.heading{
	color: #555555;
	font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
    margin-top: 0px
}

.sub-heading{
	    font-size: 16px;
    color: #555555;
    /* padding-right: 15px; */
    font-size: 14px;
    padding-right: 250px;
}

ul{
	list-style-type: none;
    padding: 0px;
}

.social-icon{
	height: 20px;
}

ul li{
	display: inline;
	margin-right: 15px;
}

#footer-container{
	padding: 20px;
    margin-top: 10%;
}

.v-center{
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 95vh;
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin-top: 40px;
    padding: 0px;
}

.carousel-indicators li,.carousel-indicators .active{
	height: 7px !important;
	width: 7px !important;
	margin: 0 15px 0px 0px !important;
}

.carousel{
	padding: 20px;
}

#mf-disclaimer {
    font-size: 12px;
    line-height: 15px;
    padding-right: 30px;
}


.input-field{
	width: 75% !important;
	margin-bottom: 10px;
}


.input-field:focus{

  background-color: #FFFFFF;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: 0 !important;
  border-color: #0091EA;
  transition: 0.3s;

}


label{
	position: absolute;
	top: 10px;
	left: 0px;
	margin-bottom: -10px !important;
	color: gray;
	font-weight: 400;
	transition: 0.25s ease all;
	-moz-transition : 0.25s ease all;
	-webkit-transition : 0.25s ease all;
	pointer-events: none;
}


input:focus ~ label , input:valid ~ label {
	top: -12px;
	font-size: 11px;
	
	color: #0091EA;
}

input:focus{
	border-color: none;
	box-shadow: none;
	outline: none;
}



#second-col{
	padding-left: 100px;
	display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
}

#form-container{
	margin-top: 0px;
}

.register-btn{
	margin-top: 10px;
	width: 100px !important;
}

#register-form{
	display: none;
}

#forgot-password{
	margin-right: 110px;
	font-size: 12px;
	margin-top: 5px;
}


#forgot-password:hover{
	cursor: pointer;
	color: #0091EA;
}
.active-form{
	color: #0091EA;
}

.form-heading:hover{
	cursor: pointer;
}

#otpModal .modal-dialog{
	width: 365px;
}

.otp-field{
	width: 100% !important;
}

#we-have{
	font-size: 20px;
    color: #555;
    font-weight: 500;
    margin-top: 15px;
}

#sms{
	font-size: 14px;
    color: #555;
    font-weight: 400;
}

#didn-t{
	margin-top: 25px;
}

#verify-btn{
	width: 100px;
    margin-top: 15px;
    margin-bottom: 15px;
}

#otp-container {
    padding: 30px 40px;
}

#resend{
	color: #0091EA;
}

#resend:hover{
	cursor: pointer;
}

#otp_success_msg{
	text-align: center;
    color: #0091EA;
}

#otp1,#otp2,#otp3,#otp4{
	font-size: 26px;
    text-align: center;
}

#login-link{
	/*text-decoration: underline;*/
	color: #0091EA;
	font-weight: 500;
}

#submit ~ span{
	margin-left: 10px;
	    color: #555555 !important;
}



#right-footer-container{
	display: none;
}

.help-block strong{
	font-weight: 400;
	color: #ff5252;
}