@media(min-width: 1800px){

}

@media(min-width: 1600px){

}

@media(min-width: 1400px) {

}


@media(min-width: 992px) and (max-width: 1200px){

}

@media(min-width: 768px) and (max-width: 992px){

}

@media(min-width: 500px) and (max-width: 767px){

}

@media(min-width: 350px) and (max-width: 500px){

}

@media(min-width: 300px) and (max-width: 350px){
	
}