#settings-sidebar{
	height: 180px;
}

#settings-nav{
	padding-left: 0px;
}

#settings-nav>li{
	list-style: none;
	text-align: center;
	padding-top: 18px;
	padding-bottom: 18px;
	font-size: 16px;
}

#settings-nav a {
	color: #555555;
	text-decoration: none;
}

.active-settings-nav > a{
	color: #0091EA !important;
}


.input-field{


  background-color: #ffffff;
  border: medium none;
  transition: background-color 0.3s ease 0s;
  padding: 7px 0px;
  height: 40px;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0px;
  width: 100%;
  border-bottom: 1px solid #BFBFBF;
  color: #555555;
  font-size: 14px;


}

.input-field:focus{

  background-color: #FFFFFF;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: 0 !important;
  border-color: #0091EA;
  transition: 0.3s;

}


label{
	position: absolute;
	top: 10px;
	left: 15px;
	margin-bottom: -10px !important;
	color: gray;
	font-weight: 400;
	transition: 0.25s ease all;
	-moz-transition : 0.25s ease all;
	-webkit-transition : 0.25s ease all;
	pointer-events: none;
}

input:focus ~ label , input:valid ~ label, input:disabled ~ label {
	top: -12px;
	font-size: 11px;
	
	color: #0091EA;
}

input:focus{
	border-color: none;
	box-shadow: none;
	outline: none;
}


#submit-personal{
	margin-left: 30px;
}

#bank-details-info{
	padding-left: 30px;
	margin-top: 5px;
}

#add-nominee-btn{
	border-radius: 5px;
	background-color: #F3F3F3;
	margin-right: 20px;
	color: #555555;
}

#change-password-tab,#bank-details-tab,#nominee-details-tab,#bank-details-info,#add-nominee-btn{
	display: none;
}


.inactive-sidemenu{
	font-weight: 300;
    color: #333333;
}


.bank-header{
	padding-left: 15px;
    margin-bottom: 15px !important;
    font-size: 18px;
    color: #555555;
    font-weight: 500;
}
