.withdraw-imp-info{
	color : #555555;
	font-weight: 500;
}

#withdraw-info-list li{
	margin: 15px auto;
	font-size: 16px;
	font-weight: 300;
}

.withdraw-fund-name{
	margin-bottom: 0px;
    margin-left: 20px;
    font-size: 16px;
    font-weight: 500;
    color: #555;
}

.current-invested,.pending-withdraw{
	margin-left: 20px;
	margin-bottom: 0px;
}

.current-invested{
	/*font-size: 16px;*/
}

.invested-bank{
	margin-bottom: 10px;
}

.withdraw-table .material-icons{
	vertical-align: middle;
}


.input-field{
	font-size: 16px !important;
	outline: none;
}


#withdraw-info{
	margin-top: 30px;
	margin-bottom: 30px;
}



.material-icons:hover{
	background-color: transparent !important;
}

/*label{
	
	top: 10px;
	left: 15px;
	margin-bottom: -10px !important;
	color: gray;
	font-weight: 400;
	transition: 0.25s ease all;
	-moz-transition : 0.25s ease all;
	-webkit-transition : 0.25s ease all;
	pointer-events: none;
}

input:focus ~ label , input:valid ~ label {
	top: -12px;
	font-size: 11px;
	
	color: #0091EA;
}

input:focus{
	border-color: none;
	box-shadow: none;
	outline: none;
}*/

.table>tbody>tr>td{
	vertical-align: baseline !important;
}

input[type=checkbox] ~ span{
	margin-left: 5px;
}

input[type=checkbox]{
	display: none;
}

/*label{
	margin-bottom: 0px;
	margin-top: 10px !important;
	vertical-align: middle;
}*/

table>tbody>tr{

}


.green{
	color: #04D298 !important;
}

.gray{
	color: gray !important;
}

#withdraw-summary{
	height: 250px;
}

.summary-header{
	font-size: 20px;
    font-weight: 400;
    color: #555555;
    text-align: center;
    padding: 15px;
}

#withdraw-summary-details{
	padding-left: 30px;
}

.withdraw-info-header{
	font-size: 20px;
    color: #555555;
    font-weight: 400;
    margin-bottom: 15px;
}

.withdraw-info-amount{
	font-size: 24px;
    color: #555555;
    margin-bottom: 0px;
}

#withdraw-btn{
	margin-top: 15px;
	margin-bottom: 15px;
}