.add-user-forms{
	    margin: 30px auto;
    padding: 0px 20px;
}

#submit-company{
	margin-top: 20px;
}

.input-field,select{
	width: 90%;
	margin-top: 20px;
}

.tab-header{
	padding: 15px 25px;
    margin-top: 0px;
    box-shadow: 0 5px 5px -5px  rgba(210, 210, 210, 0.6);
    margin-bottom: 0px;

}

.tab-header span:first-child{
	margin-right: 15px;

}

.tab-header .material-icons{
	font-size: 24px !important;
}

.tab-header span:nth-child(2){
	font-size: 18px;
}

.tab-header span:last-child .material-icons{
	color: #0091EA !important;
}

#add-bank{
	color: #0091EA;
    transition: 0.3s;
    padding: 5px 10px;
    border-radius: 4px;
    margin: 15px auto;
    margin-right: 20px;
    margin-left: 20px;
    display: inline-block;
    margin-top: 15px;
}

#add-bank:hover{
	background-color: #f1f1f1;
}

#add-bank .material-icons{
	margin-right: 5px;
	color: #0091EA !important;
}

a,a:hover,a:active{
	text-decoration: none;
}

input[type=file]{
	display: none;
}

.added-bank-container{
	height: 170px;
	background-color: #f1f1f1;
}

.bank-info span:first-child{
	font-size: 18px;
	display: inline-block;
	margin-top: 15px;
	margin-left: 10px;
}

.bank-info span:nth-child(2){
	margin-right: 10px;
	margin-top: 15px;
}

.bank-info-head{
	margin-bottom: 5px;
}

.bank-info-details{
	font-weight: 500;
}

select{
	background-color: white;
	border-radius: 0px;
}


.grad-btn{
	border-radius: 25px;
	background-image: linear-gradient(218deg, #0091ea, #3eb6ff) !important;
	border: none;
	/*transition: 0.1s;*/
}

.grad-btn:hover, .grad-btn:active, .grad-btn:focus{
	border-radius: 25px;
	background-image: none !important;
	background-color: #0091EA;
	border: none;
}