.logout{
    margin: 13px;
    color: #555555;
    font-weight: 500; 
    font-size: 16px;
    text-decoration: none !important;
    border-radius: 3px;
    padding: 10px;
}

.logout:hover{
	    background-color: #f1f1f1;
        color: #0091EA;
}

.main-header{
	margin-bottom: 0px;
    font-size: 24px;
    font-weight: 300;
    color: #333333;
}

a,a:focus,a:hover,a:active{
	text-decoration: none;
}

.form-group{
	margin-bottom: 10px !important;
}

.text-danger{
	color: #FD353A !important;
	display: none;
	margin-top: 5px;
}


.br{
	border-radius: 5px;
}


.green{
	color: #04D298 !important;
}

