.index-tag-p {
    margin: 0px;
    padding: 16px;
    font-size: 18px;
    color: #555555;
    display: inline-block;
}
.index-tag-p {
    cursor: pointer;
}
.index-name {
    font-size: 18px;
    font-weight: 500;
    margin-left: 5px;
}
.arrow-icon {
    vertical-align: middle;
    font-size: 30px !important;
    padding-bottom: 2px;
}
.material-icons:hover , .material-icons:active {
    background-color: white !important;
}
.info-table {
    width: 100% !important;
}
.text-center {
    text-align: center;
}
.table-row {
    line-height: 4;
    font-size: 16px;
    border-top: 1px solid #0000003b;
}
/*table > thead {
    border-top: 1px solid #0000003b;
}
*/

table > thead > tr > th:first-child {
    padding-left: 50px;
}
table > tbody > tr > td:first-child {
    padding-left: 40px;
}
table {
    color: #555555;
}
.more-icon {
    margin-top: 10px;
    color: #555555;
}
.more-icon:active {
    box-shadow: none;
}
.dropdown-menu > li > a {
    color: #555555 !important;
    font-weight: 400 !important;
}
.dropdown-menu {
    margin: -45px 45px 0px 0px !important;
}
.active-color{
    color: #0091ea !important;
}
