.topic{
	margin-right: 10px;
    font-size: 20px;
    padding-left: 15px;
    color: #555555;
    font-weight: 500;
    margin-bottom: 15px;
    margin-top: 15px;
}

.pl-30{
	padding-left: 30px !important;
}

.table>thead:first-child>tr:first-child>th {
    border-top: 0;
    font-weight: 500;
    font-size: 14px;
    color: #555;
    padding-bottom: 15px;
    text-align: center;
}

.table>thead:first-child>tr:first-child>th:first-child{
	padding-left: 30px !important;
	width: 275px;
    text-align: left;
}

.table>thead:first-child>tr:first-child>th:nth-child(2),th:nth-child(3),th:nth-child(4){
	text-align: center;
}

.scheme-name{
	padding-left: 22px;
    font-size: 16px;
    color: #555;
}

.return-perc{
	font-weight: 500;
	text-align: center;
}

.table>tbody>tr>td{
	line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
    padding: 15px 8px;
    border-bottom: 1px solid #e6e6e6;
}

.table>thead>tr>th {
    vertical-align: bottom;
    border-bottom: none;
}

.table{
	margin-bottom: 0px;
}