body{
	font-family: 'Roboto', sans-serif !important;
	color: #868686 !important;
}

.fl{
	font-weight: 300;
}

.fr{
	font-weight: 400;
}

.fm{
	font-weight: 500;
}

.fb{
	font-weight: 700;
}

.p-lr-zero{
	padding-left: 0px;
	padding-right: 0px;
}

.p-l-zero{
	padding-left: 0px;
}


.p-r-zero{
	padding-right: 0px;
}


.box-shadow-all{

	box-shadow: 0px 0px 15px rgba(210, 210, 210, 0.6);
}


.navbar-custom{
	
	background-image: none !important;
	background-color: white !important;
	border-radius: 0px !important;
	box-shadow: inset 0 1px 0 rgba(255,255,255,.15), 0 2px 5px rgba(0,0,0,.075);
	padding: 5px;
    padding-bottom: 0px;
}


.navbar-nav>li>a {
    padding-top: 15px !important;
    padding-bottom: 25px !important;
    font-size: 16px;
    font-weight: 500;
    color: #555555 !important;
 
}

.navbar-nav>li{
	   margin: 0px 2px;
}

.navbar-brand{
	padding: 20px !important;
	margin-left: 10px !important;
    margin-right: 10px !important;
}


#blue-btn,.blue-btn:active,.blue-btn:focus,{
	color: white;
	background-image: linear-gradient(218deg, #0091ea, #3eb6ff) !important;

}

.btn-primary{
	padding: 7px;
	background-image: linear-gradient(218deg, #0091ea, #3eb6ff) !important;
	width: 135px;
	border-radius: 5px;
	border-color: #0091EA !important;
	background-color: transparent;
}



.btn-primary:focus,.btn-primary:active{
	outline: none;
}



.nav-logo{
    height: 24px;
}

.active-menu{
        border-bottom: 2px solid #0091EA;
}

#nav-invest-btn{
        margin-top: 15px !important;
}

#nav-notification{
    font-size: 20px !important;
    margin: 14px !important;
    background-color: #EEEEEE;
    border-radius: 50px;
    padding: 7px;
    color: #555555;

}

#nav-initial{
    margin-top: 15px;
    font-size: 14px;
    margin-bottom: 0px;
    background-color: #0091EA;
    padding: 6px 11px;
    border-radius: 50px;
    color: white;
}

.nav-user-details{
    margin-bottom: 0px;
}

.nav-user-name{
    margin-bottom: -2px;
    margin-top: 12px;
}

.nav-user-details,.nav-user-name{
    margin-left: 10px;
    margin-right: 10px;
}


#nav-dropdown{
    font-size: 26px !important;
    margin-top: 15px !important;
    color: #747474; 
}

a:hover{
	text-decoration: none;
	color: none;
}

.material-icons:hover{
	cursor: pointer;
}

.border-bot{
	    border-bottom: 1px solid #E6E6E6;
}


.green{
	color: #04D298 !important;
}

.red{
	color: #FD353A !important;
}

.header-pad{
	padding: 20px 0px;
}

.cont-header{
	font-size: 16px;
    color: #555;
    font-weight: 400;
}

.br{
	border-radius: 7px;
}


.pl-10{
	padding-left: 10px;
}

.pl-30{
	padding-left: 30px;
}

.pr-30{
	padding-right: 30px;
}

.p-lr-35{
	padding-left: 35px;
	padding-right: 35px;
}

.p-lr-30{
	padding-left: 30px;
	padding-right: 30px;
}

.p-r-35{
	padding-right: 35px;
}

.p-30{
	padding: 30px;
}



section{
	margin: 15px auto;
}


.sub-cont-header{
	font-size: 16px;
    color: #555555;
}

.blue-text{
	color: #0091EA !important;
}

.mb-0{
	margin-bottom: 0px;
}

.text-green{
	color: #04D298;
}

.text-red{
	color: #FD353A;
}

.border-all{
	 /*border: 1px solid #E6E6E6;*/
	 box-shadow: 0px 0px 4px rgba(210, 210, 210, 0.6);
}


.p-tb-20{
	padding-top: 20px;
    padding-bottom: 20px;
}

.border-top{
	border-top: 1px solid #E6E6E6;
}

.border-right{
	border-right: 1px solid #E6E6E6;
}

.border-bottom{
	border-bottom: 1px solid #E6E6E6;
}

.p-t-20{
	padding-top: 20px;
}

.p-b-20{
	padding-bottom: 20px;
}

.p-tb-20{
	padding-top: 20px;
	padding-bottom: 20px;
}


.section-header{
	font-size: 18px;
    color: #555555;
    font-weight: 500;
    margin-bottom: 0px;
}

.section-header-info{
	float: right;
    margin-right: 10px;
    font-size: 12px;
    color: #555555;
    margin-bottom: 0px;
    margin-top: 5px;
}

label{
	font-size: 14px;
	font-weight: 400;
	color: #555555;
}


select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

.inline{
	display: inline;
}

.dropdown-menu{
	border :none;
	padding: 0px;
}

.material-icons:hover{
	background-color: #F2F2F2 !important;
	border-radius: 4px;
	transition: 0.3s;
}

ul.dropdown-menu{
	  /*transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;*/
	  transition: 0.3s;
}

.left-label-span{
	border-top-left-radius: 5px !important;
	border-bottom-left-radius: 5px !important;
	border-top-right-radius: 0px !important;
	border-bottom-right-radius: 0px !important;
}

.right-label-span{
	border-top-right-radius: 5px !important;
	border-bottom-right-radius: 5px !important;
	border-top-left-radius: 0px !important;
	border-bottom-left-radius: 0px !important;
}

input[type="radio"]:checked + label.radio-label span.radio {
    background-color: #0091EA;
    color: white;
    /*border-radius: 4px !important;*/
}

.input-field {
    background-color: #ffffff;
    border: medium none;
    transition: background-color 0.3s ease 0s;
    padding: 7px 0px;
    height: 40px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0px;
    width: 100%;
    border-bottom: 1px solid #BFBFBF;
    color: #555555;
    font-size: 14px;
}


.ui-widget{
	font-family: 'Roboto', sans-serif !important;
}


select{
    border: none;
    font-weight: 400;
    background-image: url(../img/arrow_down_32.png);
    background-repeat: no-repeat;
    background-position: right;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid #BFBFBF;
    color: #555555;
	background-color: white;
	border-radius: 0px;
}

#ui-datepicker-div{
	font-family: 'Roboto', sans-serif !important;
	    width: 290px;
    height: 280px;
}

.grad-btn{
	border-radius: 25px;
	background-image: linear-gradient(218deg, #0091ea, #3eb6ff) !important;
	border: none;
	/*transition: 0.1s;*/
}

.grad-btn:hover, .grad-btn:active, .grad-btn:focus{
	border-radius: 25px;
	background-image: none !important;
	background-color: #0091EA;
	border: none;
}

.dropdown-toggle.btn-primary .material-icons:hover{
	background-color: transparent !important;
}

.dropdown-toggle.btn-primary:hover, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover{
	background-image: none !important;
	background-color: #0091ea !important;
}
