.inv-sum-amount {
    font-size: 22px;
    color: #555555;
    margin-bottom: 0px;
}

#inv-sum-content-div{
	margin-bottom: 25px;
}
#searched-user-name{
	margin-right: 10px;
    font-size: 20px;
}

#searched-user-email,#searched-user-phone{
	margin: 10px;
    font-weight: 400;
    font-size: 16px;
}

#submit-documents{
	height: 40px;
    font-size: 16px;
    width: 150px;
}

.dropdown-btn{
	/* background-color: transparent !important; */
	/* color: #0091EA !important; */
	border: none;
	outline: none !important;
	box-shadow: none;
	margin-left: 20px;
	font-size: 18px;
	text-shadow: none;
	font-weight: 500;
	width: 200px;
}

.dropdown-btn:focus,.dropdown-btn:active{
	box-shadow: none;
	outline: none;
}

.dropdown-btn .material-icons{
	vertical-align: middle;
	font-size: 28px !important;
	margin-left: 10px;
}

.btn-edit{
	color: #0091EA;
	background-color: transparent;
	transition: 0.3s;
	font-size: 16px; 
	font-weight: 500;
	float: right;
	padding: 8px;
}

.btn-edit:hover{
	background-color: #f1f1f1;
	color: #0091EA;
}

.btn-edit .material-icons{
	vertical-align: middle;
	font-size: 18px !important;
	margin-right: 10px !important;
	color: #0091EA !important;
}

#kyc-list{
	margin: 0px;
}

#kyc-list li{
	margin-right: 20px !important;
    font-size: 18px;
    padding-bottom: 15px;
    margin-right: 50px;
    margin-left: 30px;
}

#kyc-list li a{
	color: #555;
	font-weight: 400;	
}

#kyc-list li .active{
	border-bottom: 3px solid #0091EA;
	padding-bottom: 15px;
	padding-left: 5px;
	padding-right: 5px;
}

.m-t-30{
	margin-top: 30px;
}

.m-b-30{
	margin-bottom: 30px;
}


#submit-company, #edit-company,#update-btn{
	width: 100px;
	height: 40px;
	font-size: 16px;
}

#submit-company{
	/*display: none;*/
}

#company-details-tab,#bank-details-tab,#document-details-tab,#change-password-tab{
	    padding: 10px 20px 30px;
}


.form-group{
	margin-bottom: 40px !important;
}


.bank-count{
	margin-left: 15px;
    font-size: 20px;
    color: #555;
}

#bank-details-tab,#document-details-tab,#change-password-tab{
	display: none;
}


.blue{
	color: #0091EA;
}

.doc-name{
	font-size: 18px;
	margin-top: 10px;
}

.file-name{
	word-break: break-all;
	height: 20px;
    overflow-x: hidden;
}

input[type=file]{
	display: none;
}

.upload-icon{
	font-size: 32px !important;
	color: #0091EA;
	margin-top: 20px;
}

.file-container{
	height: 75px;
	transition: 0.3s;

}

.file-container div:nth-child(2){
    padding: 0px;
    text-align: center;
    height: 75px;
    transition: 0.3s;
}

.file-container div:nth-child(2):hover{
    background-color: #f1f1f1;
}

.file-container:hover{
	box-shadow: 0px 0px 15px rgba(210, 210, 210, 0.6);
}

#add-user-btn .material-icons, #add-scheme-btn .material-icons{
	vertical-align: middle;
}

#add-user-btn .material-icons:hover,.input-group-addon .material-icons:hover,#add-scheme-btn .material-icons:hover{
	background-color: transparent !important;
}

.input-group-addon .material-icons{
	color: #0091EA;
}

#add-user-btn span, #add-scheme-btn span{
	margin-left: 10px;
}

#add-user-btn,#add-scheme-btn{
	float: right;
}

#search-user{
	height: 42px;
}


.search{
	border-right: none !important;
	box-shadow: none;
	outline: none;
	border-color: rgba(167, 167, 167, 0.2) !important;
	/*width: 80% !important;*/
	/*margin-left: 20%;*/

}

.search:focus{
	outline: none;
	box-shadow: none;
	/*border-color: rgba(167, 167, 167, 0.3) !important;*/
	/*box-shadow: 0px 5px 10px 0px rgba(210, 210, 210, 0.6);*/

}

.search-shadow{
	box-shadow: 0px 5px 5px 1px rgba(210, 210, 210, 0.5);
}


.input-group{
	
	width: 80%;
	float: right;
}

.main-header{
	margin-bottom: 0px;
    font-size: 24px;
    font-weight: 300;
    color: #333333;
}

.search{
	transition: 0.3s;
}

.search:focus ~ .input-group-addon{
	/*border-color: rgba(167, 167, 167, 0.2) !important;*/
	/*box-shadow: 0px 5px 5px 1px rgba(210, 210, 210, 0.5);*/
}

.input-group-addon{
	border-color: rgba(167, 167, 167, 0.2) !important;
	border-left:none !important;
	background-color: transparent !important; 
}


#header-section{
	    margin: 25px auto 20px;
}



/*Label*/



.input-field{


  background-color: #ffffff;
  border: medium none;
  transition: background-color 0.3s ease 0s;
  padding: 7px 0px;
  height: 40px;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0px;
  width: 85%;
  border-bottom: 1px solid #BFBFBF;
  color: #555555;
  font-size: 14px;


}

.input-field:focus{

  background-color: #FFFFFF;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: 0 !important;
  border-color: #0091EA;
  transition: 0.3s;

}


label.input-label{
	position: absolute;
	top: 10px;
	left: 15px;
	margin-bottom: -10px !important;
	color: gray;
	font-weight: 400;
	transition: 0.25s ease all;
	-moz-transition : 0.25s ease all;
	-webkit-transition : 0.25s ease all;
	pointer-events: none;
	font-size: 16px;
}

input:focus ~ label.input-label , input:valid ~ label.input-label, input:disabled ~ label.input-label, input[type=email]:focus ~ label.input-label,input[type=email]:valid ~ label.input-label{
	top: -7px;
	font-size: 11px;
	
	color: #0091EA;
}


input:focus{
	border-color: none;
	box-shadow: none;
	outline: none;
}

.bank-details-form{
	margin-bottom: 25px;
}

.file-link:hover{
	cursor: pointer;
}

.open>.dropdown-menu {
    display: block;
    margin-left: 20px;
    width: 200px;
}

.dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
    padding: 10px;
    font-size: 16px;
    padding-left: 25px;
}

.dropdown-menu{
	box-shadow: 0 0px 14px rgba(0,0,0,.175);
	border-radius: 5px; 
}

.dropdown-menu>li>a{
	border-bottom: 1px solid #e6e6e6 !important; 
	color: #0091EA !important;
	font-weight: 500;
}

.dropdown-menu>li>a:last-child{
	border-bottom: none;
}

.dropdown-menu>li>a:hover{
	background-color: #0091EA !important;
	color: white !important;
	background-image: none !important;
}



