.btn-edit{
	color: #555;
	background-color: transparent;
	transition: 0.3s;
	font-size: 16px; 
	font-weight: 500;
	float: right;
	padding: 8px;
}

.btn-edit:hover{
	background-color: #f1f1f1;
	color: #0091EA;
}

.btn-edit .material-icons{
	color: #555 !important;
}

.btn-edit:hover .material-icons{
	color: #0091EA !important;
}

.table-header{
	margin-bottom: 0px;
	font-weight: 400 !important;
	color: #555;
}

th .table-header{
	font-weight: 500 !important;
	vertical-align: middle !important;
}

tr th:first-child .table-header{
	width: 200px !important;
	padding-left: 20px;
}

.table-wrapper{
	width: 100%;
	overflow-x: scroll;
}

.scheme-name{
	padding-left: 20px;
	font-size: 14px;
	color: #555;
}

tbody tr{
	transition: 0.3s;
}

tbody tr td p{
	color: #555;
}

tbody tr:hover{
	background-color: #f1f1f1;
}

.total{
	color: #0091EA !important;
	font-weight: 500;
	font-size: 16px;
}

.total td:first-child p {
	padding-left: 20px;
	font-size: 16px !important;
	font-weight: 500;
}

.success{
	color: #04D298 !important;
}

.inv-status{
	font-weight: 500;
	font-size: 14px;
	color: #555;
}

.investment-date{
	padding-left: 20px;
}

.total td p{
	color: #0091EA;
}


.btn-primary .material-icons{
	margin-right: 20px !important;
}


.btn-primary:focus, .btn-primary:hover {
	background-color: #0091EA !important;
	background-position: 0 -15px;
	background-image: none !important;
}

.btn-primary .material-icons:hover{
	background-color: transparent !important;
}
