.po-details-holder .material-icons{
	vertical-align: middle;
	color: #0091EA;
	font-size: 28px !important;
	margin: 0px 10px 0px 5px;
}

.po-details-holder,.order-details-holder{
	margin: 15px auto;
	padding: 0px 10px;
	font-size: 15px;
	color: #555;
}

.po-details-holder .material-icons:hover{
	background-color: transparent !important;
}

.investor-name{
	font-weight: 500;
	margin: 0px 5px;
}

.investor-pan, .order-type, .payment-type{
	margin: 0px 10px;
}


.green{
	color: #04d298;
}

.bse-status{
	margin-right: 15px;
	font-weight: 500;
}

.order-details-holder{
	font-weight: 500;
	margin-left: 45px;
}

.order-details-holder span{
	font-weight: 400;
	margin-right: 20px;
}

.order-amount{
	font-weight: 500 !important;
	font-size: 18px;
	margin-right: 15px !important;
}

.pending-scheme-name .material-icons{
	vertical-align: middle;
	float: right;
	margin-right: 10px;
	color: gray;
}

.pending-scheme-name .material-icons:hover{
	background-color: transparent !important;
}

.pending-orders-holder{
	box-shadow: 0px 5px 10px rgba(167,167,167,0.1);
}

.pending-scheme-name{
	margin: 15px auto;
	padding: 0px 10px;
	font-size: 15px;
	color: #555;
	padding-left: 3px;
}

.scheme-name{
	font-size: 15px;
	color: #555;
	font-weight: 500;
	margin-left: 0px;
	vertical-align: super;
}

.scheme-amount{
	/*margin-right: 10px;*/
	font-size: 18px;
	margin-right: 0px !important;
}

.os-details-holder,.remarks{
	color: #555;
	margin: 15px auto;
    padding: 0px 10px;
    padding-left: 42px;
}

.po-container{
	    box-shadow: 0px 0px 10px rgba(210, 210, 210, 0.6);
	    border-radius: 4px;
}

.os-details-holder span{
	margin-right: 75px;
}

strong{
	font-weight: 500 !important;
}

.scheme-det-holder{
	border-bottom: 1px solid #e6e6e6;
	padding: 0px 15px;
}

.confirm-order-btn,.revoke-investment-btn, .revoke-withdraw-btn{
	width: 90px;
	margin: 15px auto;
	border-radius: 4px;
}

.revoke-investment-btn, .revoke-withdraw-btn{
	width: 110px;
	border: none;
}

.revoke-investment-btn:hover, .revoke-withdraw-btn:hover, .revoke-investment-btn:active, .revoke-withdraw-btn:active, .revoke-investment-btn:focus, .revoke-withdraw-btn:focus{
	background-image: none !important;
	background-color: #0091ea;
}

.checkbox-icon{
	vertical-align: middle;
}

.checkbox-icon:hover{
	background-color: transparent !important; 
}

input[type=checkbox] ~ label{
	margin-bottom: 0px;
}

input[type=checkbox] ~ label .material-icons{
	vertical-align: middle;
}

input[type=checkbox]{
	display: none;
}

.po-container-holder{
	    margin: 10px auto 20px;
}


#total-orders{
	font-size: 18px !important;
	margin-left: 50px;
}

.form-inline{
	display: inline-block;
}

.pending-btn{
	margin: 0px 10px 20px 0px;
	width: 170px;
}

.pending-btn .material-icons{
	vertical-align: middle;
}

#export-pending{
	margin-right: 0px;
	width: 100px;
}

#confirm-allot{
	text-align: center;
    font-size: 16px;
    color: #0091EA;
    margin-top: 20px;
    font-size: 20px;
}

.confirm-info {
    font-size: 16px;
    color: #555;
}

.confirm-upload-btn, .confirm-upload-btn:hover, .confirm-upload-btn:focus {
    background-color: #0091EA;
    border-color: #0091EA;
    margin-left: 10px;
    margin-top: 20px;
    margin-right: 0px;
    border-radius: 2px;
    width: 60px;
}

#confirm-upload-container{
	text-align: center;
	padding-bottom: 30px;
}
