.btn-edit{
	color: #555;
	background-color: transparent;
	transition: 0.3s;
	font-size: 16px; 
	font-weight: 500;
	float: right;
	padding: 8px;
}

.btn-edit:hover{
	background-color: #f1f1f1;
	color: #0091EA;
}

.btn-edit .material-icons{
	color: #555 !important;
}

.btn-edit:hover .material-icons{
	color: #0091EA !important;
}

.table-header{
	margin-bottom: 0px;
	font-weight: 400 !important;
	color: #555;
}

th .table-header{
	width: 85px !important;
	font-weight: 500 !important;
	vertical-align: middle !important;
}

tr th:first-child .table-header{
	width: 200px !important;
	padding-left: 20px;
}

.table-wrapper{
	width: 100%;
	overflow-x: scroll;
}

.scheme-name{
	padding-left: 20px;
	font-size: 14px;
	color: #555;
}

tbody tr{
	transition: 0.3s;
}

tbody tr:hover{
	background-color: #f1f1f1;
}

.total{
	color: #0091EA !important;
	font-weight: 500;
	font-size: 16px;
}

.total td:first-child p {
	padding-left: 20px;
	font-size: 16px !important;
	font-weight: 500;
}

#manual-investment .input-field{
	margin-bottom: 0px;
}

#manual-investment select{
	margin-bottom: 0px;
	margin-top: 15px;
	margin-left: 25px;
}
#manual-investment ~ div{
	margin-top: 20px;
}

#add-portfolio{
	margin-left: 25px;
}

.port-child-holder label{
	font-size: 14px;
	left: 12px;
}

.port-child-holder{
	margin-top: 20px;
	border-bottom: 1px solid #e6e6e6;
}

#inv-submit{
	margin: 20px auto;
}


#invModal .modal-title{
	margin-left: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 22px;
}

.modal-header{
	border-bottom: none;
}

.ui-datepicker-calendar tbody tr:hover{
	background-color: transparent !important;
}

#ui-datepicker-div{
	height: 325px !important;
}


.btn-primary .material-icons{
	margin-right: 20px !important;
}


.btn-primary:focus, .btn-primary:hover {
	background-color: #0091EA !important;
	background-position: 0 -15px;
	background-image: none !important;
}

.btn-primary .material-icons:hover{
	background-color: transparent !important;
}


.form-group{
	margin-bottom: 20px !important;
}