.btn-edit{
	color: #555;
	background-color: transparent;
	transition: 0.3s;
	font-size: 16px; 
	font-weight: 500;
	float: right;
	padding: 8px;
}

.btn-edit:hover{
	background-color: #f1f1f1;
	color: #0091EA;
}

.btn-edit .material-icons{
	color: #555 !important;
}

.btn-edit:hover .material-icons{
	color: #0091EA !important;
}

.table-header{
	margin-bottom: 0px;
	font-weight: 400 !important;
	color: #555;
}

th .table-header{
	font-weight: 500 !important;
	vertical-align: middle !important;
}

tr th:first-child .table-header{
	width: 200px !important;
	padding-left: 20px;
}

.table-wrapper{
	width: 100%;
	overflow-x: hidden;
}

.scheme-name{
	padding-left: 20px;
	font-size: 16px;
	color: #555;
}

tbody tr{
	transition: 0.3s;
}

tbody tr td p{
	color: #555;
}

tbody tr:hover{
	background-color: #f1f1f1;
}

.total{
	color: #0091EA !important;
	font-weight: 500;
	font-size: 16px;
}

.total td:first-child p {
	padding-left: 20px;
	font-size: 16px !important;
	font-weight: 500;
}

.success{
	color: #04D298 !important;
}

.inv-status{
	font-weight: 500;
	font-size: 14px;
	color: #555;
}

.investment-date{
	padding-left: 20px;
}

.total td p{
	color: #0091EA;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
	padding: 20px 20px 10px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}

.table>tbody>tr>td p{
	margin-bottom: 0px;
}

.active{
	color: #0091EA !important;
	font-weight: 500;
}

.inactive{
	color: red !important;
	font-weight: 500;
}

label.input-label{
	left: 40px;
	top: 25px;
}

select{
	width: 85%;
	padding-left: 0px;
	margin-bottom: 15px;
}

.modal-dialog{
	width: 800px;
}

.scheme_input_helper{
	text-align: left;
    margin-left: 15px;
    margin-top: 10px;
    margin-left: 25px;

}

input:focus ~ label.input-label, input:valid ~ label.input-label, input[type=email]:focus ~ label.input-label, input[type=email]:valid ~ label.input-label {
    top: 5px;
    font-size: 11px;
    color: #0091EA;
}

.input-field{
	margin: 15px auto;
}

#scheme-file-helper{
	display: inline-block;
}

#scheme-label{
	vertical-align: middle !important;
	margin-top: 8px;
	color: #0091EA !important;
}

#scheme-file-holder{
	box-shadow: 0px 0px 10px rgba(168,168,168,0.2);
    width: 39%;
    margin-left: 40px;
    margin-top: 15px;
    border-radius: 5px;
}

#scheme-file-label{
	display: inline-block;
    margin-top: 10px;
    color: #0091EA;
}

.modal_header{
	font-size: 22px;
    padding-top: 25px;
    color: #333;
    text-align: left;
    padding-left: 40px;
    margin-bottom: -15px;
    padding-bottom: 15px;
}

#form_container{
	margin-bottom: 20px;
}

#submit_scheme{
	margin-bottom: 25px;
}
#edit-btn{
    margin-bottom: 35px;
    position: relative;
    top: 15px;
}
#status-p{
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}