.twitter-typeahead,
.tt-hint,
.tt-input,
.tt-dropdown-menu {
    width: 100%!important;
    height: 40px;
}

.tt-input{
    position: relative;
    vertical-align: top;
    padding-top: 12px;
    padding-bottom: 12px;
    height: 46px;

}

a {
    color: #03739c;
    text-decoration: none
}

a:hover {
    text-decoration: underline
}

.table-of-contents li {
    display: inline-block;
    *display: inline;
    zoom: 1
}

.table-of-contents li a {
    font-size: 16px;
    color: #999
}

.typeahead,
.tt-query,
.tt-hint {
    width: 396px;
    height: 30px;
    padding: 8px 12px;
    font-size: 12px;
    line-height: 30px;
    border: 2px solid #ccc;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    outline: none
}

.typeahead {
    background-color: #fff
}

.typeahead:focus {
    border: 2px solid #0097cf
}

.tt-query {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075)
}

.tt-hint {
    color: #999
}

.tt-menu {
    width: 100%;
    margin: 0 0;
    padding: 0 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .1);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2)
}

.tt-suggestion {
    padding: 3px 20px;
    font-size: 14px;
    line-height: 18px
}

.tt-suggestion:hover {
    cursor: pointer;
    color: white!important;
    background-color: #0091EA!important
}

.tt-suggestion.tt-cursor {
    color: white!important;
    background-color: #0091EA!important
}

.tt-suggestion p {
    margin: 0
}

.gist {
    font-size: 14px
}

.list-group {
    margin-bottom: 0
}

.tt-hint{
    border:none;
}

/*.suggested-email {
    font-family: gotham_light
}*/